<li class="<%= self_or_other(message) %>">
  <div class="avatar">
    <%= image_tag fetch_photo(message_interlocutor(message), :profile) %>
  </div>
  <div class="chatboxmessagecontent">
    <p><%= message.body %></p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
      <%= message_interlocutor(message).first_name %> • <%= message.created_at.strftime("%H:%M %p") %>
    </time>
  </div>
</li>
