<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi, you have been contacted by user: <%= @user_email %>
    </p>
    <p><strong>Message subject:</strong> <%= @subject %></p>
    <p><strong>Message:</strong> <%= @message %></p>
  </body>
</html>
