<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to geekrabb.com, <%= @user.username %></h1>
    <p>
      You have successfully signed up to geekrabb.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'http://geekrabb.com', 'geekrabb.com' %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
