<div class="modal fade contact-info" id="contact-info-modal" title="Contact Info of <%= @user.first_name %>">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <h3 id="myModalLabel">Contact Info of <%= @user.first_name %></h3>
  </div>

  <% if @payment %>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          You have reach maximum limit to view user's contact information. Please pay before viewing more contact informations.
        </div>
      </div>
    </div>
  <% else %>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          Email:
        </div>
        <div class="col-md-6">
          <%= @user.email %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          Phone:
        </div>
        <div class="col-md-6">
          <%= fetch_user_mobile_number(@user) %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="modal-footer">
    <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
    <% if @payment %>
      <%= link_to 'Proceed to payment page', payment_path(return_to_user: @user.id), class: 'btn btn-primary pull-right' %>
    <% end %>
  </div>
</div>
