<div class="modal fade contact-info" id="follow-unfollow-modal">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button" onclick="javascript:window.location.reload()" >×</button>
    <h3 id="myModalLabel"><%= @type.camelcase %> <%= @user.first_name %></h3>
  </div>

  <% if @result %>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          You have successfully <%= @type %> <%= @user.username %>.
        </div>
      </div>
    </div>
  <% else %>
    Failed to <%= @type %> <%= @user.username %>.
  <% end %>
  <div class="modal-footer">
    <button aria-hidden="true" class="btn" data-dismiss="modal" onclick="javascript:window.location.reload()" >Close</button>
  </div>
</div>
