<section class="agency-status" style="padding:50px 0">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="row">
          <div class="col-md-12">
            <h2 class="redcolor"><%= @user.first_name %> (<%= @user.account_type %> in <%= @user.city %>)</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 border-right-tutor profile-tutor-mb">
            <div class="row">
              <div class="col-md-6">
                <%= image_tag fetch_photo(@user, :profile), class: 'img-circle tutor_img' %>
              </div>
              <div class="col-md-6 tutor-img profile-name-center">
                <p><span class="glyphicon glyphicon-ok"></span> ID Verfied</p>
                <h4><%= @user.first_name %> (<%= @user.account_type %>)</h4>
                <p><span class="glyphicon glyphicon-map-marker"> </span> <%= @user.city %></p>
                <p><span class="glyphicon glyphicon-education"> </span> | <span class="glyphicon glyphicon-star"> </span> | <span class="glyphicon glyphicon-map-marker"> </span></p>
              </div>
            </div>
          </div>
          <div class="col-md-6 tutor-img profile-name-center">
            <p><strong><%= t('profile.feedback') %></strong></p>
            <p><b><%= t('profile.member') %></b> <%= render_date(@user.last_sign_in_at) %></p>
            <p><b><%= t('profile.last_login') %></b> <%= t('profile.four_month') %></p>
            <p><b><%= t('profile.response_rate') %></b> 90%</p>
            <p><b><%= t('profile.expected_response') %></b> <%= t('profile.one_month') %></p>
            <% if @user.student? %>
              <p><b><%= t('profile.interested_in_online_lessons') %></b> <%= boolean_to_human(@user.interested_in_online_lessons) %></p>
            <% end %>
            <% if @user.tutor? %>
              <p><b><%= t('profile.interested_in_online_teachings') %></b> <%= boolean_to_human(@user.interested_in_online_teachings) %></p>
            <% end %>
          </div>
        </div>
        <button type="button" class="btn btn-danger start-conversation" data-username="<%= @user.jid %>" data-rip="<%= @user.id %>"><span class="glyphicon glyphicon-comment"></span> <%= t('profile.chat_with') %> <%= @user.first_name %> </button>

        <%#= link_to "#{ t('profile.see_contact_info') }", user_get_contact_info_path(@user, id: @user.id, format: :js), class: "btn btn-warning", remote: true %>
        <% if current_user.follows?(@user) %>
          <%= link_to "#{ t('profile.unfollow') }", user_unfollow_path(@user, id: @user.id, format: :js), class: "btn btn-default", remote: true %>
        <% else %>
          <%= link_to "#{ t('profile.follow') }", user_follow_path(@user, id: @user.id, format: :js), class: "btn btn-info", remote: true %>
        <% end %>

        <p class="tutor-img"></p>

        <div class="row">
          <div class="col-sm-12">
            <h4><%= t('profile.about') %> <%= @user.first_name %></h4>
            <p><%= @user.bio %></p>
            <h4><%= t('profile.availability') %></h4>
            <p> <%= t('profile.availability_text') %>
            </p>
          </div>
        </div>
        <% if @user.degrees.present? %>
          <div class="row">
            <h2><%= t('profile.qualifications') %></h2>
            <div class="col-sm-12">
              <% @user.degrees.each do |degree| %>
                <div class="col-sm-3">
                  <ul>
                    <li><strong><%= degree.name %></strong></li>
                    <li><%= degree.institution %></li>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <p class="tutor-img"></p>
        <div class="row">
          <h2><%= t('profile.feedback_for') %> <%= @user.first_name%> (<%= @feedbacks.count %>)</h2>
          <hr>
          <p><%= t('profile.review_count') %><%= @feedbacks.count %> <%= t('profile.review_for') %> <%= @user.first_name %>.</p>

          <% @feedbacks.each do |feedback| %>
            <p><b><%= feedback.user.first_name %> (<%= formatted_name_title(feedback.user.gender) %>)</b></p>
            <p><b><%= formatted_time(feedback.created_at) %></b></p>
            <p><div class="starbox starbox-<%= feedback.id %> ghosting autoupdate small"> </div><p></p></p>
            <p><%= feedback.comment %></p>
          <% end %>

          <%= form_for(@feedback) do |f| %>

            <div class="block">
              <h3><%= t('profile.provide_feedback') %></h3>
              <div class="starbox ghosting autoupdate small smooth"> </div><p></p>
            </div>

            <div class="row">
              <div class="col-md-10 col-sm-10">
                <div class="form-group">
                  <label for="exampleInputEmail1"><%= t('profile.share_feedback') %></label>
                  <%= text_area_tag(:comment, '', rows: 7, class: 'form-control', placeholder: "#{t('profile.share_feedback')}", required: true) %>
                </div>
              </div>
            </div>

            <%= hidden_field_tag 'rating', '0.5', id: 'rating-value' %>
            <%= hidden_field_tag 'rated_id', @user.id %>

            <div class="row">
              <div class="col-md-12">
                <%= f.submit t('profile.post'), {class: "btn btn-danger"} %>
              </div>
            </div>
          <% end %>

        </div>
      </div>
      <!-- col md 9 col sm 9 -->
      <div class="col-md-4 col-sm-4">
        <div class="right-side">
          <div class="search-form">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs search-nav-tab" role="tablist">
              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= t('profile.contact') %> <%= @user.first_name%> </a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="myonline-lessons-contents">
                  <div class="form-group">
                    <div class="form-group">
                      <input type="Email" class="form-control" id="exampleInputEmail1" value="<%= current_user.email %>" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="Name" class="form-control" id="exampleInputEmail1" value="<%= current_user.first_name %>" placeholder="Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="Last Name" class="form-control" id="exampleInputEmail1" value="<%= current_user.last_name %>" placeholder="Last Name">
                </div>
                <div class="form-group">
                  <textarea name="" id="" cols="30" rows="8" class="form-control"></textarea>
                </div>
                <div class="checkbox">
                  <label>
                  <input type="checkbox"> <%= t('profile.i_agree') %> <a href="#"><%= t('profile.condition') %></a>
                  </label>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-danger send-message-btn "><%= t('profile.send_message') %></button>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-success black-btn"><%= t('profile.already_member') %></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-side  my-follers-mt">
          <div class="search-form">
            <div class="tab-content">
              <h4><%= t('profile.my_followers') %></h4>
              <p><%= t('profile.no_followers') %></p>
              <h4><%= t('profile.following') %></h4>
              <p><%= t('profile.no_following') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id='contact-info-div'></div>
<div id='follow-unfollow-div'></div>

<%= render 'shared/feedback_initializer' %>
