<div class="sign-in-response">
  <%= render 'shared/flash_messages' %>
</div>

<div class="clearfix"></div>

<section class="agency-status" style="padding:50px 0">
  <div class="container">
    <div class="row">
      <div class="agency-status-contents clearfix">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel heading-bg">
            <div class="panel-heading">
              <h3 class="panel-title" style="color:#000;"><%= t('verify.title') %></h3>
            </div>
            <div class="panel-body">
              <%= form_tag verify_path, method: :put do %>
                <div class="form-group">
                  <label for="verification-code" class="col-sm-4 control-label"><%= t('verify.code_label') %></label>
                  <div class="col-sm-8">
                    <%= text_field_tag :code, nil, class: 'form-control', required: true %>
                  </div>
                </div>

                <div class="form-group pt-100">
                  <%= link_to t('verify.resend_code'), resend_verify_path, method: :post, class: 'btn btn-primary resend-code-btn' %>
                  <%= submit_tag t('verify.submit_code'), class: 'btn btn-success' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
