<section class="agency-status" style="padding:50px 0">
  <div class="container">
    <div class="row">
      <div class="agency-status-contents forgot-password clearfix">
        <div class="col-md-8 col-md-offset-4">
          <div class="panel heading-bg">
            <h2><%= t('password.title') %></h2>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label t('password.form.email') %><br />
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>

              <div class="actions margin-top-10">
                <%= f.submit t('password.send_email'), class: "btn btn-success" %>
              </div>
            <% end %>

            <div class="margin-top-10">
              <%- if controller_name != 'sessions' %>
                <%= link_to t('password.login'), new_session_path(resource_name), class: "btn btn-danger whiteColor" %>
              <% end -%>
              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to t('password.signup'), new_registration_path(resource_name), class: "btn btn-primary whiteColor" %>
              <% end -%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
