<% @feedbacks.each do |feedback| %>
  <script type="text/javascript">
    jQuery(function() {
      jQuery('.starbox-<%= feedback.id %>').each(function() {
        var starbox = jQuery(this);
        starbox.starbox({
          average: "<%= feedback.rating %>",
          changeable: false
        });
      });
    });
  </script>
<% end %>
