<div class="clearfix"></div>
<div class="col-md-7 col-md-offset-2 error-div">
  <% flash.each do |type, messages| %>
    <div class="alert alert-<%= type.to_s == 'notice' ? 'success' : 'danger' %> alert-dismissible fade in">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <% if messages.present?  and messages.is_a? Array %>
          <% messages.each do |message| %>
            <li><%= display_error_message(message) %></li>
          <% end %>
      <% else %>
         <li><%= messages %></li>
      <% end %>
    </div>
  <% end %>
</div>
