    <div class="clearfix"></div>
    <footer>
      <section class="footer-two">
        <div class="container">
          <div class="new-letter-sec clearfix">
            <h2><%= t('footer.signup') %> <strong><%= t('footer.newsletter') %></strong></h2>
            <div class="col-md-offset-4 col-md-4">
              <div class="input-group">
                <input type="text" class="form-control letterfield" placeholder="<%= t('footer.enter_email') %>" id="query" name="query" value="">
                 <div class="input-group-btn">
                <button type="submit" class="btn btn-letter"><span class="glyphicon glyphicon-send"></span></button>
                </div>
              </div>
            </div>

            <div class="col-md-offset-1 col-md-12 hidden-xs">
              <div class="footer-menu">
                <ul>
                  <li><%= link_to t('footer.home'), root_path %></li>
                  <li><%= link_to t('footer.for_students'), search_path("q[account_type_eq]": 'Student') %></li>
                  <li><%= link_to t('footer.for_tutors'), search_path("q[account_type_eq]": 'Tutor') %></li>
                  <li><%= link_to t('footer.for_employee'), search_path("q[account_type_eq]": 'Employee/Employer') %></li>
                  <li><%= link_to t('footer.for_hobby'), search_path("q[account_type_eq]": 'Hobby') %></li>
                  <li><%= link_to t('footer.contact_us'), contactus_path %></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- news letter sec -->
        </div>
      </section>

      <div class="copy-right">
        <div class="container">
          <div class="row">
            <p><%= t('footer.copyright') %></p>
          </div>
        </div>
      </div>
    </footer>
