<div class="header-top show-xs hidden-md hidden-lg">
  <div class="container">
    <div class="row">
      <div class="col-xs-7">
        <address><i class="fa fa-envelope"> </i> query@geekrabb.com </address>
      </div>
      <div class="col-xs-5">
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="header-2">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="header-nav">
            <ul>
              <li><%= link_to t('header.about_us'), aboutus_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to t('header.logout'), destroy_user_session_path, method: :delete %></li>
                <li><%= link_to t('header.member_area'), summary_path %></li>
              <% else %>
                <li><%= link_to t('header.login'), new_user_session_path %></li>
                <li><%= link_to t('header.register'), register_path %></li>
              <% end %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" id="drop1" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-chevron-circle-down"></i>
                  <%= t('header.language') %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="drop1">
                  <li>
                    <%= link_to t('header.english'), root_path(locale: :en) %>
                  </li>
                  <li>
                    <%= link_to t('header.arabic'), root_path(locale: :ar) %>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default" role="navigation">
    <!--/.navbar-header-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="col-sm-5 col-xs-5">
        <div class="logo">
          <%= link_to root_path do %>
            <%=image_tag("logo.png", class: "img-responsive")%>
          <% end %>
        </div>
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to t('header.home'), root_path, class: 'nav-menu' %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-menu" data-toggle="dropdown"><%= t('header.for_student') %> <b class="caret"></b></a>
          <ul class="dropdown-menu multi-column columns-3 for-student">
            <div class="row">

              <div class="col-sm-4">
                <ul class="multi-column-dropdown">
                  <li><a href="#"><h3><%= t('header.our_services') %></h3></a></li>
                  <li><%= link_to t('header.find_a_tutor'), search_path("q[account_type_eq]": 'Tutor') %></li>
                  <% if user_signed_in? %>
                    <li><%= link_to t('header.tutor_in_your_city'), search_path("q[account_type_eq]": 'Tutor', "q[city_eq]": current_user.city) %></li>
                    <li><%= link_to t('header.browse_tutor'), search_path("q[account_type_eq]": 'Tutor', "q[major_eq]": current_user.major) %></li>
                  <% end %>
                </ul>
              </div>

              <div class="col-sm-4">
                <ul class="multi-column-dropdown">
                <li><a href="#"><h3><%= t('header.recent_subjects') %></h3></a></li>
                <% @recent_students.each do |student| %>
                  <li><%= link_to student.major, search_path("q[account_type_eq]": 'Student', "q[major_eq]": student.major) %></li>
                <% end %>
                </ul>
              </div>

              <div class="col-sm-4">
                <ul class="multi-column-dropdown">
                <li><a href="#"><h3><%= t('header.popular_subjects') %></h3></a></li>
                <% @popular_majors.each do |major| %>
                  <li><%= link_to major.first, search_path("q[account_type_eq]": 'Student', "q[major_eq]": major.first) %></li>
                <% end %>
                </ul>
              </div>
            </div>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-menu" data-toggle="dropdown"><%= t('header.for_tutor') %> <b class="caret"></b></a>
          <ul class="dropdown-menu multi-column-dropdown">
            <li><%= link_to t('header.search_for_tutors'), search_path("q[account_type_eq]": 'Tutor') %></li>
            <% if user_signed_in? %>
              <li><%= link_to t('header.tutor_in_your_city'), search_path("q[account_type_eq]": 'Tutor', "q[city_eq]": current_user.city) %></li>
              <li><%= link_to t('header.tutor_with_same_major'), search_path("q[account_type_eq]": 'Tutor', "q[major_eq]": current_user.major) %></li>
            <% end %>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle nav-menu" data-toggle="dropdown"><%= t('header.for_employee') %> <b class="caret"></b></a>
          <ul class="dropdown-menu multi-column-dropdown">
            <li><%= link_to t('header.search_for_employees'), search_path("q[account_type_eq]": 'Employee/Employer') %></li>
            <% if user_signed_in? %>
              <li><%= link_to t('header.employee_in_your_city'), search_path("q[account_type_eq]": 'Employee/Employer', "q[city_eq]": current_user.city) %></li>
              <li><%= link_to t('header.employee_with_same_job'), search_path("q[account_type_eq]": 'Employee/Employer', "q[job_eq]": current_user.job) %></li>
            <% end %>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('header.for_hobbyist') %> <b class="caret"></b></a>
          <ul class="dropdown-menu multi-column-dropdown">
            <li><%= link_to t('header.search_for_hobbyist'), search_path("q[account_type_eq]": 'Hobby') %></li>
            <% if user_signed_in? %>
              <li><%= link_to t('header.hobbyist_in_your_city'), search_path("q[account_type_eq]": 'Hobby', "q[city_eq]": current_user.city) %></li>
              <li><%= link_to t('header.hobbyist_with_same_hobby'), search_path("q[account_type_eq]": 'Hobby', "q[hobbies_cont_any][]": current_user.hobbies) %></li>
            <% end %>
          </ul>
        </li>

        <li><%= link_to t('header.contact_us'), contactus_path %></li>
      </ul>
    </div>
  </nav>

  <div class="header-2">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 search-sec">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="<%= t('header.search') %>" id="query" name="query" value="">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
