<div class="col-md-12">
  <h4 class="heading2"><%= t('navigation_bar.title') %></h4>
</div>
<div class="col-md-3 col-sm-4">
  <div class="member-left-area">
    <ul class="member-list">
      <li class="<%= current_page_class('summary') %>">
        <%= link_to summary_path do %>
          <i class="fa fa-home"></i> <%= t('navigation_bar.summary') %>
        <% end %>
      </li>
      <li class="<%= current_page_class('mydetail') %>">
        <%= link_to mydetail_path do %>
          <i class="fa fa-user"></i> <%= t('navigation_bar.mydetail') %>
        <% end %>
      </li>
      <% if current_user.tutor? %>
        <li class="<%= current_page_class('mysubject') %>">
          <%= link_to mysubject_path do %>
            <i class="fa fa-suitcase" aria-hidden="true"></i> <%= t('navigation_bar.my_subjects') %>
          <% end %>
        </li>
      <% end %>

      <% if current_user.student? || current_user.tutor? %>
        <li class="<%= current_page_class('mypurchase') %>">
          <%= link_to mypurchase_path do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <%= t('navigation_bar.mypurchases') %>
          <% end %>
        </li>
      <% end %>

      <li class="<%= current_page_class('feedback') %>">
        <%= link_to feedback_section_path do %>
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span> <%= t('navigation_bar.feedback') %>
        <% end %>
      </li>

      <% if current_user.student? || current_user.tutor? %>
        <li class="<%= current_page_class('found_me') %>">
          <%= link_to found_me_path do %>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <%= t('navigation_bar.found_me') %>
          <% end %>
        </li>
      <% end %>

      <% if current_user.student? %>
        <li class="<%= current_page_class('suggested_teacher') %>">
          <%= link_to suggested_teacher_path do %>
            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"> </span> <%= t('navigation_bar.suggested_teacher') %>
          <% end %>
        </li>
      <% end %>
      <% unless current_user.employee? || current_user.hobby? %>
        <li class="<%= current_page_class('followers') %>">
          <%= link_to followers_path do %>
            <span class="glyphicon glyphicon-star" aria-hidden="true"> </span> <%= t('navigation_bar.followers') %>
          <% end %>
        </li>
      <% end %>

      <li style="border-bottom:1px solid #d2d2d2;">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="fa fa-power-off" aria-hidden="true"></span> <%= t('navigation_bar.logout') %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
