<div class="modal fade contact-info" id="error-modal">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <h3 id="myModalLabel">Failed to Registered User</h3>
  </div>

  <div class="modal-body">
    <%= @errors %>
  </div>

  <div class="modal-footer">
    <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
