<div class="modal fade contact-info" id="sms-verification-modal" title="Mobile number verification for <%= @user.mobile_number %>">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <h3 id="myModalLabel">Enter verification code</h3>
  </div>

  <%= form_tag verify_code_path(format: :js), remote: true do %>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <% if @verified == false %>
            <p class="red">Invalid code. Please try again.</p>
          <% else %>
            Your account is created successfully but still need to be verified. Please enter verification code sent at your mobile number <%= @user.mobile_number %>
          <% end %>
        </div>

        <div class="col-md-12">
          <%= text_field_tag 'code', nil, placeholder: 'verification code', class: 'form-control', required: true %>
          <%= hidden_field_tag 'user_id', @user.id %>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
      <%= submit_tag 'Verify code', class: 'btn btn-primary pull-right' %>
    </div>
  <% end %>
</div>
