<div class="modal fade contact-info" id="sms-verification-modal">
  <div class="modal-header">
    <%= link_to 'x', root_path(locale: I18n.locale), class: "btn" %>
    <h3 id="myModalLabel">Account created</h3>
  </div>

	<div class="modal-body">
      <div class="row">
        <div class="col-md-12">
        Congragulations!. Your account has been created
        </div>
      </div>
	</div>

  <div class="modal-footer">
    <%= link_to 'Close', root_path(locale: I18n.locale), class: "btn" %>
  </div>

</div>
