<div class="modal fade contact-info" id="tutor-verification-modal" title="Tutor account verification for <%= @user.username %>">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <h3 id="myModalLabel">Successfully Registered User</h3>
  </div>

  <div class="modal-body">
  Thank you for registering you account. Your account will be verified soon by admin.
  </div>

  <div class="modal-footer">
    <%= link_to 'Close', root_path, class: "btn" %>
  </div>
</div>
