<div class="modal fade contact-info" id="sms-verification-response-modal" title="Mobile number verification for <%= @user.mobile_number %>">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <h3 id="myModalLabel">Account verification</h3>
  </div>

  <% if @verified %>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
        Congragulations!. Your account has been verified
        </div>
      </div>
    </div>

  <% else %>
    failed!!
  <% end %>

  <div class="modal-footer">
    <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
  </div>

</div>
