<section class="agency-status" style="padding:50px 0">
  <div class="container">
    <div class="col-md-12">
      <h2 class="redcolor"><%= t('about_us.title') %></h2>
      <p><%= t('about_us.para_one') %></p>
      <p><%= t('about_us.para_two') %></p>
    </div>
  </div>
</section>
