<section class="agency-status" style="padding:50px 0">
  <div class="container">
    <div class="row">
      <div class="finish-box-shadow clearfix">
        <div class="col-md-6 col-md-offset-3 tutor-img">
          <!-- <h2 class=""></h2> -->
          <div class="panel heading-bg">
            <p><%= t('contact.title') %></p>
            <div class="panel-heading">
              <h3 class="panel-title white-text"><%= t('contact.geekrabb') %></h3>
            </div>
            <div class="panel-body">
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-3 control-label"><%= t('contact.form.name') %></label>
                  <div class="col-sm-9">
                    <input class="form-control darker-boarder" id="inputYour Name" placeholder="<%= t('contact.form.name') %>" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-3 control-label"><%= t('contact.form.email') %></label>
                  <div class="col-sm-9">
                    <input type="email" class="form-control darker-boarder" id="inputPassword3" placeholder="<%= t('contact.form.email') %>" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-3 control-label"><%= t('contact.form.message') %></label>
                  <div class="col-sm-9">
                    <textarea name="" id="" cols="30" rows="8" class="form-control darker-boarder" required></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-danger"><%= t('contact.form.send') %></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
