<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

      <%= render 'shared/navigation-bar' %>

      <div class="col-md-8 col-sm-8">
        <div class="mysubjects">
          <div class="feedback">
            <h4 class="heading2"><%= t('feedback.title') %></h4>

            <div class="row">
              <h2><%= t('feedback.sub_title') %> (<%= @feedbacks.count %>)</h2>
              <hr>
              <p><%= t('feedback.count') %> <%= @feedbacks.count %> <%= t('feedback.reviews') %></p>

              <% @feedbacks.each do |feedback| %>
                <p><b><%= feedback.user.first_name %> (<%= formatted_name_title(feedback.user.gender) %>)</b></p>
                <p><b><%= formatted_time(feedback.created_at) %></b></p>
                <p><div class="starbox starbox-<%= feedback.id %> ghosting autoupdate small"> </div><p></p></p>
                <p><%= feedback.comment %></p>
              <% end %>
            </div>
            <% if @feedbacks.blank? %>
              <p class="redcolor"><%= t('feedback.no_feedback') %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/feedback_initializer' %>
