<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

      <%= render 'shared/navigation-bar' %>

      <div class="col-md-8 col-sm-8">
        <div class="foundme">
          <p><%= t('foundme.find') %> <a href="#" class="redcolor"><%= t('foundme.profile') %> </a><%= t('foundme.viewed') %></p>
          <div class="panel panel-default heading-panel">
            <div class="panel-heading"><%= t('foundme.title1') %></div>
            <div class="panel-body">
              <p><%= t('foundme.description1') %></p>

              <table class="table table-bordered">
                <tbody>
                  <tr style="background: #666666;color: #fff;text-transform: uppercase;">
                    <td><%= t('foundme.viewed_by') %></td>
                    <td><%= t('foundme.date') %></td>
                    <td><%= t('foundme.views') %></td>
                  </tr>
                  <% @profile_views.each do |view| %>
                    <tr>
                      <td><%= link_to view.user.username, user_path(view.user) %></td>
                      <td><%= formatted_time(view.updated_at) %></td>
                      <td><%= view.count %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default heading-panel">
            <div class="panel-heading"><%= t('foundme.title2') %></div>
            <div class="panel-body">
              <p><%= t('foundme.description2') %></p>
              <table class="table table-bordered">
                <tbody>
                  <tr style="background: #666666;color: #fff;text-transform: uppercase;">
                    <td><%= t('foundme.viewed_by') %></td>
                    <td><%= t('foundme.date') %></td>
                    <td><%= t('foundme.views') %></td>
                  </tr>
                  <% @this_months_views.each do |view| %>
                    <tr>
                      <td><%= link_to view.user.username, user_path(view.user) %></td>
                      <td><%= formatted_time(view.updated_at) %></td>
                      <td><%= view.count %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="panel panel-default heading-panel">
            <div class="panel-heading"><%= t('foundme.title3') %></div>
            <div class="panel-body">
              <p><%= t('foundme.description3') %></p>

              <table class="table table-bordered">
                <tbody>
                  <tr style="background: #666666;color: #fff;text-transform: uppercase;">
                    <td><%= t('foundme.viewed_by') %></td>
                    <td><%= t('foundme.date') %></td>
                    <td><%= t('foundme.views') %></td>
                  </tr>
                  <% @recent_views.each do |view| %>
                    <tr>
                      <td><%= link_to view.user.username, user_path(view.user) %></td>
                      <td><%= formatted_time(view.updated_at) %></td>
                      <td><%= view.count %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
