<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

      <%= render 'shared/navigation-bar' %>

      <div class="col-md-8 col-sm-8">
        <div class="profile-photo">
          <p>Here you can view your history in terms of whose profile pages you have recently viewed, the most recent viewed is at the top of the list. You can clear your history here, or if you would prefer not to have your history stored you can change this setting in the <a href="privacy.html" class="redcolor"> Privacy </a> section.</p>
          <p class="redcolor">Your History is Empty.</p>
        </div>
      </div>
    </div>
  </div>
</section>
