
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("geek-banner-5.jpg") %>
      <div class="carousel-caption"> </div>
    </div>
    <div class="item">
      <%= image_tag("geek-banner-3.jpg") %>
      <div class="carousel-caption"> </div>
    </div>
    <div class="item">
      <%= image_tag("geek-banner-4.jpg") %>
      <div class="carousel-caption"> </div>
    </div>
    <div class="item">
      <%= image_tag("geek-banner.jpg") %>
      <div class="carousel-caption"> </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only"><%= t('home.previous') %></span> </a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only"><%= t('home.next') %></span> </a>
</div>
<section class="search-section">
  <div class="lesson-contents">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="search-heading"><%= t('home.who_are_you') %></h2>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 tutor-img ">
          <ul class="services-tab row">
            <li class="col-md-3 col-sm-3 col-xs-6 item-click-prev" data-id="headingOne">
              <%= image_tag "student.png", class: "img-responsive"%>
            </li>
            <li class="col-md-3 col-sm-3 col-xs-6 item-click-prev" data-id="headingTwo">
              <%= image_tag "green-students-btn.png", class: "img-responsive"%>
            </li>
            <li class="col-md-3 col-sm-3 col-xs-6 item-click-prev" data-id="headingThree">
              <%= image_tag "employee-btn.jpg", class: "img-responsive" %>
            </li>
            <li class="col-md-3 col-sm-3 col-xs-6 item-click-prev" data-id="headingFour">
              <%= image_tag "hobby-btn.png", class: "img-responsive"%>
            </li>
          </ul>
        </div>
        <div class="panel-group col-md-12 col-sm-12 col-xs-12" id="" role="" aria-multiselectable="true">
          <div class="panel panel-default item-show-prev col-sm-12 col-xs-12 tab-home" id="headingOne">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="accordian-heading"> <%= t('user_roles.tutor') %> </a> </h4>
            </div>
            <div class="panel-collapse">
              <div class="panel-body">
                <div class="search-form">
                  <%= search_form_for @q, url: search_path do |f| %>
                    <div class="form-group col-md-4 ">
                      <%= select_tag 'q[teaching_modules_in][]', options_for_select(options_for_teaching_modules.collect{|s| [s[I18n.locale], s[:en]]}), class: 'form-control form-bg multiple-selected', multiple: 'multiple', data: { placeholder: "#{ t('home.select_subject') }", select_all: "#{ t('home.select_all') }" } %>
                      <%= hidden_field_tag 'q[account_type_eq]', 'Tutor' %>
                    </div>

                    <div class="col-md-4">
                      <%= select_tag 'q[education_level_in][]', options_for_select(options_for_education_level.collect{|s| [s[I18n.locale], s[:en]]}, preselect_education_level_value), class: 'form-control form-bg multiple-selected', multiple: 'multiple', data: { placeholder: "#{ t('home.select_degree') }", select_all: "#{ t('home.select_all') }" } %>
                    </div>

                    <div class="col-md-4">
                      <%= select_tag 'q[city_in][]', options_for_select(options_for_city.collect{|s| [s[I18n.locale], s[:en]]}), class: 'form-control form-bg multiple-selected', multiple: 'multiple', data: { placeholder: "#{ t('search.form.placeholders.city') }", select_all: "#{ t('home.select_all') }" } %>
                    </div>

                    <div class="col-md-4 search-btn-mt">
                      <%= f.submit t('home.search'), class: 'btn btn-danger form-control' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default item-show-prev col-sm-12 col-xs-12 tab-home" id="headingTwo">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="accordian-heading"> <%= t('user_roles.student') %> </a> </h4>
            </div>
            <div class="panel-collapse">
              <div class="panel-body">
                <div class="search-form">
                  <%= search_form_for @q, url: search_path do |f| %>
                    <div class="form-group col-md-4 ">
                      <%= select_tag 'q[major_in][]', options_for_select(options_for_major.collect{|s| [s[I18n.locale], s[:en]]}), class: 'form-control form-bg multiple-selected', multiple: 'multiple', data: { placeholder: "#{ t('home.select_major') }", select_all: "#{ t('home.select_all') }" } %>
                      <%= hidden_field_tag 'q[account_type_eq]', 'Student' %>
                    </div>

                    <div class="col-md-4">
                      <%= select_tag 'q[education_level_in][]', options_for_select(options_for_education_level.collect{|s| [s[I18n.locale], s[:en]]}, preselect_education_level_value), class: 'form-control form-bg multiple-selected', multiple: 'multiple', data: { placeholder: "#{ t('home.select_degree') }", select_all: "#{ t('home.select_all') }" } %>
                    </div>

                    <div class="col-md-4">
                      <%= select_tag 'q[city_in][]', options_for_select(options_for_city.collect{|s| [s[I18n.locale], s[:en]]}), class: 'form-control form-bg multiple-selected', multiple: 'multiple', data: { placeholder: "#{ t('search.form.placeholders.city') }", select_all: "#{ t('home.select_all') }" } %>
                    </div>

                    <div class="col-md-4 search-btn-mt">
                      <%= f.submit t('home.search'), class: 'btn btn-danger form-control' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default item-show-prev col-sm-12 col-xs-12 tab-home" id="headingThree">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="accordian-heading"> <%= t('user_roles.employee') %> </a> </h4>
            </div>
            <div class="panel-collapse">
              <div class="panel-body">
                <div class="search-form">
                  <%= search_form_for @q, url: search_path do |f| %>
                    <div class="form-group col-md-4 col-md-offset-2">
                      <%= select_tag 'q[job_in][]', options_for_select(options_for_job.collect{|s| [s[I18n.locale], s[:en]]}), class: 'form-control form-bg multiple-selected', multiple: 'multiple', data: { placeholder: "#{ t('home.select_job') }", select_all: "#{ t('home.select_all') }" } %>
                      <%= hidden_field_tag 'q[account_type_eq]', 'Employee/Employer' %>
                    </div>

                    <div class="col-md-4">
                      <%= select_tag 'q[city_in][]', options_for_select(options_for_city.collect{|s| [s[I18n.locale], s[:en]]}), class: 'form-control form-bg multiple-selected', multiple: 'multiple', data: { placeholder: "#{ t('search.form.placeholders.city') }", select_all: "#{ t('home.select_all') }" } %>
                    </div>

                    <div class="col-md-4 col-md-offset-4 search-btn-mt">
                      <%= f.submit t('home.search'), class: 'btn btn-danger form-control' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default item-show-prev col-sm-12 col-xs-12 tab-home" id="headingFour">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="accordian-heading"> <%= t('user_roles.hobby') %> </a> </h4>
            </div>
            <div class="panel-collapse">
              <div class="panel-body">
                <div class="search-form">
                  <%= search_form_for @q, url: search_path do |f| %>
                    <div class="form-group col-md-4 col-md-offset-2">
                      <%= select_tag 'q[hobbies_cont_any][]', options_for_select(options_for_hobbies.collect{|s| [s[I18n.locale], s[:en]]}), class: 'form-control form-bg multiple-selected', multiple: "multiple", data: { placeholder: "#{ t('search.form.placeholders.hobby') }", select_all: "#{ t('home.select_all') }" } %>
                      <%= hidden_field_tag 'q[account_type_eq]', 'Hobby' %>
                    </div>

                    <div class="col-md-3">
                      <%= select_tag 'q[city_in][]', options_for_select(options_for_city.collect{|s| [s[I18n.locale], s[:en]]}), class: 'form-control form-bg multiple-selected', multiple: 'multiple', data: { placeholder: "#{ t('search.form.placeholders.city') }", select_all: "#{ t('home.select_all') }" } %>
                    </div>

                    <div class="col-md-4 col-md-offset-4 search-btn-mt">
                      <%= f.submit t('home.search'), class: 'btn btn-danger form-control' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--   <div class="col-md-4 col-sm-4 col-xs-12">
          <ul class="services-tab row">
            <li class="col-md-6 col-sm-4 col-xs-4 item-click-prev" data-id="headingOne"><img src="images/student.png" alt=""></li>
            <li class="col-md-6 col-sm-4 col-xs-4 item-click-prev" data-id="headingTwo"><img src="images/green-students-btn.png" alt=""></li>
            <li class="col-md-6 col-sm-4 col-xs-4 item-click-prev" data-id="headingThree"><img src="images/hobby-btn.png" alt=""></li>
            <li class="col-md-6 col-sm-4 col-xs-4 item-click-prev" data-id="headingFour"><img src="images/employee-btn.png" alt=""></li>
          </ul>
          </div> -->
      </div>
      <!-- Nav tabs -->
      <!-- Tab panes -->
    </div>
  </div>
</section>
<script>

  $(document).ready(function() {
    $(".item-click-prev").click();
    $(".item-click-prev").click(function(){
    var id = $(this).attr("data-id");
    $(".item-show-prev").hide();
    $("#"+id).fadeIn();
    });

  });
</script>

<% content_for :js_init do %>
  Search.bind_multiselect();
<% end %>
