<div class="mydetail-flash-message">
  <%= render 'shared/flash_messages' %>
</div>
<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

      <%= render 'shared/navigation-bar' %>

      <div class="col-md-8 col-sm-8">
        <div class="reg-accordians" style="padding:0px;">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <%= nested_form_for(current_user) do |f| %>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa fa-lock"> </i> <%= t('mydetail.account_info') %>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <div class="col-md-12">
                      <label for=""><%= t('mydetail.account_type') %> <strong><%= t('user_roles.' + current_user.account_type.downcase) %></strong></label>
                      <%= f.select 'account_type', options_for_select(options_for_account_type.collect{|s| [s[I18n.locale], s[:en]]}, current_user.account_type), {prompt: t('mydetail.form.select')}, class: 'form-control hidden', required: true, disabled: true %>
                    </div>

                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1"><%= t('mydetail.form.email') %></label>
                        <%= f.text_field :email, autofocus: true, id: "exampleInputEmail1", :class => 'form-control', placeholder: t('mydetail.form.email'), required: true %>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <button type="submit" class="btn btn-danger" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><%= t('mydetail.form.continue') %></button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title" class="collapsed panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                     <i class="fa fa-user"> </i> <%= t('mydetail.personal_info') %>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <div class="personal-info">

                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.first_name') %></label>
                          <%= f.text_field :first_name, id: "exampleInputEmail0", :class => 'form-control', placeholder: t('mydetail.form.first_name'), required: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.last_name') %></label>
                          <%= f.text_field :last_name, id: "exampleInputEmail0", :class => 'form-control', placeholder: t('mydetail.form.last_name'), required: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6" id="gender_div">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.gender') %></label>
                          <%= f.select 'gender', options_for_select(options_for_gender.collect{|s| [s[I18n.locale], s[:en]]}, current_user.gender), {prompt: t('mydetail.form.select')}, id: "gender_field", class: 'form-control', required: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.dob') %></label>
                          <%= f.text_field :date_of_birth, value: render_date(current_user.date_of_birth), class: 'form-control datepicker', placeholder: t('mydetail.form.dob'), required: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.city') %></label>
                          <%= f.select 'city', options_for_select(options_for_city.collect{|s| [s[I18n.locale], s[:en]]}, current_user.city), {prompt: t('mydetail.form.select')}, class: 'form-control', required: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6" id="education_level_div">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.education_level') %></label>
                          <%= f.select 'education_level', options_for_select(options_for_education_level.collect{|s| [s[I18n.locale], s[:en]]}, current_user.education_level), {prompt: t('mydetail.form.select')}, id: "education_level_field", class: 'form-control', required: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6" id="institution_div">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.institution') %></label>
                          <%= f.select 'institution', options_for_select(options_for_institution.collect{|s| [s[I18n.locale], s[:en]]}, current_user.institution), {prompt: t('mydetail.form.select')}, id: "institution_field", class: 'form-control', required: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 hidden" id="other_institution_div">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.institution_name') %></label>
                          <%= f.text_field :other_institute, id: "other_institution_field", :class => 'form-control', placeholder: t('mydetail.form.institution_name'), required: true, disabled: true %>
                        </div>
                      </div>

                      <% if current_user.student? || current_user.tutor? %>
                        <div id="degrees">
                          <%= f.fields_for :degrees, :wrapper => false do |degree_form| %>
                            <div class='fields'>
                              <div class="col-md-6 col-sm-6" id="degree_name_div">
                                <div class="form-group">
                                  <label for="exampleInputEmail1"><%= t('mydetail.form.degree_name') %></label>
                                  <%= degree_form.select :name, options_for_select(options_for_education_level.collect{|s| [s[I18n.locale], s[:en]]}, degree_form.object.name), {prompt: t('mydetail.form.select')}, class: 'form-control' %>
                                </div>
                              </div>

                              <div class="col-md-6 col-sm-6" id="degree_name_div">
                                <div class="form-group">
                                  <label for="exampleInputEmail1"><%= t('mydetail.form.institution_2') %></label>
                                  <%= degree_form.select :institution, options_for_select(options_for_institution.collect{|s| [s[I18n.locale], s[:en]]}, degree_form.object.institution), {prompt: t('mydetail.form.select')}, class: 'form-control' %>
                                </div>
                              </div>

                              <td><%= degree_form.link_to_remove t('mydetail.form.remove_degree'), class: "btn btn-danger" %></td>
                            </div>
                          <% end %>
                        </div>
                        <div><%= f.link_to_add t('mydetail.form.add_degree'), :degrees, class: "btn btn-primary" %></div>
                      <% end %>

                      <div class="col-md-6 col-sm-6" id="major_div">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.major') %></label>
                          <%= f.select 'major', options_for_select(options_for_major.collect{|s| [s[I18n.locale], s[:en]]}, current_user.major), {prompt: t('mydetail.form.select')}, id: "major_field", class: 'form-control', required: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 hidden" id="other_major_div">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.other_major') %></label>
                          <%= f.text_field :other_major, id: "other_major_field", :class => 'form-control', placeholder: t('mydetail.form.major'), required: true, disabled: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6" id="availablity_start_time_div">
                        <label for=""><%= t('mydetail.form.availability_start_time') %></label>
                        <div class="form-group">
                          <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                            <%= f.select 'availablity_start_time', options_for_select(options_for_time, current_user.availablity_start_time), {prompt: t('mydetail.form.select')}, id: "availablity_start_time_field", class: 'form-control' %>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6" id="availablity_end_time_div">
                        <label for=""><%= t('mydetail.form.availability_end_time') %></label>
                        <div class="form-group">
                          <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                            <%= f.select 'availablity_end_time', options_for_select(options_for_time, current_user.availablity_end_time), {prompt: t('mydetail.form.select')}, id: "availablity_end_time_field", class: 'form-control' %>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 hidden" id="hourly_rate_div">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.hourly_rate') %></label>
                          <%= f.number_field :hourly_rate, id: "hourly_rate_field", :class => 'form-control', placeholder: t('mydetail.form.hourly_rate'), required: true, disabled: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 hidden" id="job_div">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.job') %></label>
                          <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                            <%= f.select :job, options_for_select(options_for_job.collect{|s| [s[I18n.locale], s[:en]]}, current_user.job), {prompt: t('mydetail.form.select')}, id: "job_field", class: 'form-control', required: true, disabled: true %>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6" id="mobile_number_div">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.mobile_number') %></label>
                          <%= f.number_field :mobile_number, id: "mobile_number", id: "mobile_number_field", :class => 'form-control', placeholder: t('mydetail.form.mobile_number'), required: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6" id="bio_div">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.bio') %></label>
                          <%= f.text_area :bio, id: "bio", id: "bio_field", :class => 'form-control', placeholder: t('mydetail.form.bio'), required: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6" id="pic_div">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.profile_pic') %></label>
                          <%= f.fields_for :photo_attributes do |image_fields| %>
                            <%= image_fields.file_field :avatar %>
                          <% end %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 hidden" id="work_experience_div">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.work_experience') %></label>
                          <%= f.number_field :work_experience, id: "work_experience_field", :class => 'form-control', placeholder: t('mydetail.form.work_experience'), required: true, disabled: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 hidden" id="nationality_div">
                        <div class="form-group">
                          <label for="exampleInputEmail1"><%= t('mydetail.form.nationality') %></label>
                          <%= f.select 'nationality', options_for_select(options_for_nationality.collect{|s| [s[I18n.locale], s[:en]]}, current_user.nationality), {prompt: t('mydetail.form.select')}, id: "nationality_field", class: 'form-control', required: true, disabled: true %>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 hidden" id="teaching_interests_div">
                        <label for=""><%= t('mydetail.form.teaching_interests') %></label>
                        <div class="form-group">
                          <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                            <%= f.select 'teaching_interests', options_for_select(options_for_teaching_interests.collect{|s| [s[I18n.locale], s[:en]]}, current_user.teaching_interests), {}, id: "teaching_interests_field", class: 'form-control multiple-selected', multiple: true %>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 hidden" id="languages_div">
                        <label for=""><%= t('mydetail.form.languages') %></label>
                        <div class="form-group">
                          <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                            <%= f.select 'languages', options_for_select(options_for_languages.collect{|s| [s[I18n.locale], s[:en]]}, current_user.languages), {}, id: "languages_field", class: 'form-control multiple-selected', multiple: true %>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 hidden" id="teaching_modules_div">
                        <label for=""><%= t('mydetail.form.teaching_modules') %></label>
                        <div class="form-group">
                          <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                            <%= f.select 'teaching_modules', options_for_select(options_for_teaching_modules.collect{|s| [s[I18n.locale], s[:en]]}, current_user.teaching_modules), {}, id: "teaching_modules_field", class: 'form-control multiple-selected', required: true, multiple: true %>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 hidden" id="hobbies_div">
                        <label for=""><%= t('mydetail.form.hobbies') %></label>
                        <div class="form-group">
                          <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                            <%= f.select 'hobbies', options_for_select(options_for_hobbies.collect{|s| [s[I18n.locale], s[:en]]}, current_user.hobbies), {}, id: "hobbies_field", class: 'form-control multiple-selected', required: true, multiple: true %>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6" id="interested_in_online_lessons_div">
                        <div class="form-group">
                          <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                            <%= f.check_box :interested_in_online_lessons, required: true %> <%= t('mydetail.form.interested_in_online_lessons') %>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6 hidden" id="interested_in_online_teachings_div">
                        <div class="form-group">
                          <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                            <%= f.check_box :interested_in_online_teachings, required: true %> <%= t('mydetail.form.interested_in_online_teachings') %>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <%= f.submit t('mydetail.form.update'), {class: "btn btn-danger"} %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :js_init do %>
  Registration.init();
<% end %>
