<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

      <%= render 'shared/navigation-bar' %>

      <div class="col-md-8 col-sm-8">
        <div class="mysubjects">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="enquiry" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Open Enquiries
              <span class="caret"></span>
            </button>
            Now Viewing:
            <ul class="dropdown-menu" aria-labelledby="enquiry">
              <li><a href="#">Open Enquiries</a></li>
              <li><a href="#">Close Enquiries</a></li>
            </ul>
          </div>
          <p style="margin-top:15px;"><span class="glyphicon glyphicon-plus-sign" style="color:#f85862"> </span>  To make a new enquiry please <a href="#" style="color:#f85826;">search</a>  and contact via their profile page.</p>
        </div>
      </div>
    </div>
  </div>
</section>

