<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

      <%= render 'shared/navigation-bar' %>

      <div class="col-md-8 col-sm-8">
        <% if @payments.present? %>
          <div class="foundme">
            <p><%= t('purchases.title') %></p>

            <table class="table table-bordered">
              <tbody>
                <tr style="background: #666666;color: #fff;text-transform: uppercase;">
                  <td colspan="3"><%= t('purchases.payments') %></td>
                </tr>

                <tr>
                  <td><%= t('purchases.type') %></td>
                  <td><%= t('purchases.amount') %></td>
                  <td><%= t('purchases.time') %></td>
                </tr>

                <% @payments.each do |payment| %>
                  <tr>
                    <td><span class="glyphicon glyphicon-credit-card"></span> <%= payment.payment_type %></td>
                    <td>
                      $10
                    </td>
                    <td>
                      <%= formatted_time(payment.created_at) %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <div class="mysubjects">
            <p><%= t('purchases.all_purchases') %></p>
            <p style="margin-top:15px; color:#f85826;"><%= t('purchases.no_purchases') %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
