<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

      <%= render 'shared/navigation-bar' %>

      <div class="col-md-8 col-sm-8">
        <div class="mysubjects">
          <h4 class="headings"><%= t('subjects.my_subjects') %> <i class="fa fa-plus-circle" style="color:#f85862"></i>
            <span><a href="add-subject.html" class="redcolor"><%= t('subjects.add_subject') %></a></span>
          </h4>

          <div class="table-responsive">
            <table class="table table-bordered">
              <tr style="background: #666666;color: #fff;text-transform: uppercase;">
                <td><%= t('subjects.headers.subjects') %></td>
                <td><%= t('subjects.headers.level') %></td>
                <td><%= t('subjects.headers.hourly_rate') %></td>
                <td><%= t('subjects.headers.notes') %></td>
                <td><%= t('subjects.headers.modified') %></td>
                <td colspan="3"></td>
              </tr>
              <tr>
                <td><i class="fa fa-suitcase" aria-hidden="true"></i> <%= t('subjects.acting') %></td>
                <td><%= t('subjects.a_level') %></td>
                <td><%= t('subjects.unlisted') %></td>
                <td><%= t('subjects.hardworking') %></td>
                <td><%= t('subjects.date') %></td>
                <td><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></td>
                <td><a href="#"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                <td><a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
              </tr>
            </table>
           </div>
         </div>
      </div>
    </div>
  </div>
</section>
