<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

      <%= render 'shared/navigation-bar' %>

      <div class="col-md-8 col-sm-8">
        <div class="mysubjects">
          <div class="lesson-contents">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
              <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> My Online lessons</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span> Create Lessons</a></li>
              <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> How It works</a></li>
              <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Find a tutor</a></li>
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="myonline-lessons-contents">
                  <p>My Online Lessons <span class="glyphicon glyphicon-plus-sign" style="color:#f85862"> </span>  Add New Online Lessons</p>
                  <div class="member-area-content-bg">
                      <p>If you have used our service to find a tutor you can click on above link to start online lessons with them. Otherwise you need to first find a tutor using our <a href="#" style ="color:#f86852;"">Search</a> and book a lesson with them.</p>
                  </div>
                </div>
              </div>
            <div role="tabpanel" class="tab-pane" id="profile">
              <h4 class="heading2">Start New Online Lessons</h4>
              <p>
              To start online lessons with a new tutor, you must first contact the tutor by using our search. The tutors details will appear below once you've made an initial booking.
              </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages"></div>
            <div role="tabpanel" class="tab-pane" id="settings">
              <section class="search-section" style="background:none;">
                <div class="row">
                  <h2>Find the right tutor for you</h2>
                  <div class="search-form">
                    <form method="post">
                      <div class="col-md-3">
                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter subjects">
                      </div>
                      <div class="col-md-3">
                        <select class="form-control">
                          <option>Select Level</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Postcode">
                      </div>
                      <div class="col-md-3">
                        <button type="submit" class="form-control btn btn-danger">Search</button>
                      </div>
                    </form>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

