<section >
  <div class="container" class="foo">

    <div class="payment-response-info">
      <div class="col-md-10">
        <% if @message.present? %>
          <% if @success %>
            <span class="greenColor"><%= @message %></span>
          <% else %>
            <span class="redcolor"><%= @message %></span>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-2">
        <%= link_to "Go Back", @back_url, class: "btn btn-primary btn-sm" %>
      </div>
    </div>

    <div class="col-md-10">
      <h2 class="redcolor">Payment</h2>
      <h3>Checkout with PayPal</h3>
      <div id="paypal-button-container"></div>
      <h3>Or with Paytab</h3>
    </div>

    <link rel="stylesheet" href="https://www.paytabs.com/express/express.css">
    <script src="https://www.paytabs.com/theme/express_checkout/js/jquery-1.11.1.min.js"></script>
    <script src="https://www.paytabs.com/express/express_checkout_v3.js"></script>

    <div class="PT_express_checkout" scrolling="no"></div>
    <script type="text/javascript"> Paytabs("#express_checkout").expresscheckout({ settings:{ secret_key: "<%= APP_CONFIG[:payment][:secret_key] %>", merchant_id: "<%= APP_CONFIG[:payment][:merchant_id] %>", amount: "10.00", currency: "USD", title: "Geekrabb Express Checkout Transaction", product_names: "Product1,Product2,Product3", order_id: "<%= @current_user.id %>", url_redirect: "<%= APP_CONFIG[:payment][:redirect_url] %>/users/<%= @current_user.id %>/update_payment_status/?return_user_id=<%= params[:return_to_user] %>&payment_type=Paytab", display_billing_fields: 0, display_shipping_fields: 0, display_customer_info: 0, language: "en", redirect_on_reject: 1, style:{ css: "custom", linktocss: "http://www.geekrabb.com/css/style.css", }, is_iframe:{ load: "onbodyload", show: 0, }, }, customer_info:{ first_name: "<%= @current_user.first_name %>", last_name: "<%= @current_user.last_name %>", phone_number: "<%= @current_user.mobile_number %>", country_code: "973", email_address: "<%= @current_user.email %>" }, billing_address:{ full_address: "Manama, Bahrain", city: "Manama", state: "Manama", country: "BHR", postal_code: "00973" }, checkout_button:{ width: 150, height: 50, img_url: "www.geekrabb.com/image/yourimage.jpg" } });
    </script>
  </div>
</section>

<!DOCTYPE html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body>
  <script>
    function post(path, params, method) {
      method = method || "post"; // Set method to post by default if not specified.

      // The rest of this code assumes you are not using a library.
      // It can be made less wordy if you use one.
      var form = document.createElement("form");
      form.setAttribute("method", method);
      form.setAttribute("action", path);

      for(var key in params) {
        if(params.hasOwnProperty(key)) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", params[key]);

          form.appendChild(hiddenField);
        }
      }

      document.body.appendChild(form);
      form.submit();
    }

    paypal.Button.render({

      env: 'sandbox', // sandbox | production

      // PayPal Client IDs - replace with your own
      // Create a PayPal app: https://developer.paypal.com/developer/applications/create
      client: {
        sandbox:    'ARtt-QopuWes_okGZVmWAgGnJ6u1fALvNQq9ocA2GBAgjWo24hMgEuj9pFWCuLdGTUrqkE1WWe0CwFAM',
        production: '<insert production client id>'
      },

      style: {
        size: 'responsive',
        color: 'gold',
        shape: 'pill',
        label: 'checkout'
      },
      // Show the buyer a 'Pay Now' button in the checkout flow
      commit: true,

      // payment() is called when the button is clicked
      payment: function(data, actions) {

        // Make a call to the REST api to create the payment
        return actions.payment.create({
          payment: {
            transactions: [
              {
                amount: { total: '10.00', currency: 'USD' }
              }
            ]
          }
        });
      },

      // onAuthorize() is called when the buyer approves the payment
      onAuthorize: function(data, actions) {

        // Make a call to the REST api to execute the payment
        return actions.payment.execute().then(function() {
          data["payment_type"] = 'Paypal';
          data["return_user_id"] = "<%= params[:return_to_user] %>";
          post('/users/' + "<%= @current_user.id %>" + '/update_payment_status/', data);
        });
      }

    }, '#paypal-button-container');

  </script>
</body>
