<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

      <%= render 'shared/navigation-bar' %>

      <div class="col-md-8 col-sm-8">
        <div class="profile-photo">
          <div class="member-area-content-bg">
            <p>We have thousands of tutors registered here at Tutor Hunt, our Questions portal allow students to pose any academic query they have directly to them. Once you submit a question we will publish it, and allow any of our wide range of tutors to answer it for you. You can also manage your previously asked questions here.</p>
          </div>
          <strong>My Questions</strong> <a href="ask-question.html" class="redcolor"><span class="glyphicon glyphicon-plus-sign redcolor"></span> <span>Ask an Academic Question</span></a>
          <p class="round-bg">You have currently not asked any academic questions, would you like to <a href="ask-question.html" class="redcolor"> ask a question? </a> </p>
          <div class="panel panel-default heading-panel">
            <div class="panel-heading">UPLOAD YOUR PHOTO</div>
            <div class="panel-body">
              <label class="btn btn-default btn-file">
                Browse <input type="file" hidden>
              </label>
              <p>You have not uploaded any photos for your profile yet.</p>
              <br/>
              <span class="glyphicon glyphicon-plus-sign redcolor"></span> <a href="#" class="redcolor">Cancel</a> Photo Upload - Return to my Photos Page
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
