<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

      <%= render 'shared/navigation-bar' %>

      <div class="col-md-8 col-sm-8">
        <div class="profile-photo">
          <p>Here you can set your privacy settings. The Visibility section lets you edit how your profile page can be seen by other tutor Hunt users. The Profile Contents section allows you to set what kind of personal information is displayed on your profile.</p>
          <p> <a href="#" class="redcolor"><i class="fa fa-window-close"></i> Remove Your Tutor Hunt Account</a> - Click to remove your account permanently.</p>
          <div class="panel panel-default heading-panel">
            <div class="panel-heading">VISABILITY</div>
            <div class="panel-body">
              <div class="col-md-4 col-sm-6 col-xs-5">List profile in directory:</div>
              <div class="col-md-8 col-sm-6 col-xs-7">
                <div class="form-group">
                  <select name="" id="" class="form-control">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-5">Profile Status:</div>
              <div class="col-md-8 col-sm-6 col-xs-7">
                <div class="form-group">
                  <select name="" id="" class="form-control">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default heading-panel">
            <div class="panel-heading">PROFILE CONTENTS</div>
            <div class="panel-body">
              <div class="col-md-4 col-sm-6 col-xs-5">Display postcode:</div>
              <div class="col-md-8 col-sm-6 col-xs-7">
                <div class="form-group">
                  <select name="" id="" class="form-control">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-5">Display map:</div>
              <div class="col-md-8 col-sm-6 col-xs-7">
                <div class="form-group">
                  <select name="" id="" class="form-control">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-5">Display your photo:</div>
              <div class="col-md-8 col-sm-6 col-xs-7">
                <div class="form-group">
                  <select name="" id="" class="form-control">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </div>
              </div>

              <div class="col-md-4 col-sm-6 col-xs-5">Store history:</div>
              <div class="col-md-8 col-sm-6 col-xs-7">
                <div class="form-group">
                  <select name="" id="" class="form-control">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                  </select>
                </div>
              </div>

                <div class="col-md-4 col-sm-6 col-xs-5">Show School:</div>
                <div class="col-md-8 col-sm-6 col-xs-7">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value=""></option>
                      <option value=""></option>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default heading-panel clearfix">
              <div class="panel-heading">EMAIL SETTINGS</div>
              <div class="panel-body">
                <div class="col-md-4 col-sm-6 col-xs-5">Email when my profile is viewed:</div>
                <div class="col-md-8 col-sm-6 col-xs-7">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value=""></option>
                      <option value=""></option>
                      <option value=""></option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-5">Suggested tutor alerts by email:</div>
                <div class="col-md-8 col-sm-6 col-xs-7">
                  <div class="form-group">
                    <select name="" id="" class="form-control">
                      <option value=""></option>
                      <option value=""></option>
                      <option value=""></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-danger" style="margin-bottom:15px;">UPGRADE</button>
        </div>
      </div>
    </div>
  </div>
</section>
