<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

      <%= render 'shared/navigation-bar' %>

      <div class="col-md-8 col-sm-8">
        <div class="profile-photo">
          <p>Here are your current uploaded photos, click on a photo to make changes to it or set it as your profile image. Your current profile image is marked by a wide blue border.</p>
          <p><a href="upload-img.html" class="redcolor"><span class="glyphicon glyphicon-plus-sign"> </span> Upload Photos</a></p>
          <div class="panel panel-default heading-panel">
            <div class="panel-heading">SELECT A PHOTO</div>
            <div class="panel-body">
              <p>You have not uploaded any photos for your profile yet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
