<% if @user.persisted? %>
  <% if @user.tutor? %>
    $('#tutor-verification-div').html('$("<%= j render(:partial => 'tutor_verification') %>")');
    $('#tutor-verification-modal').modal('toggle');
  <% else %>
    $('#sms-verification-div').html('$("<%= j render(:partial => 'sms_verification') %>")');
    $('#sms-verification-modal').modal('toggle');
  <% end %>
<% else %>
  $('#error-div').html('$("<%= j render(:partial => 'error_messages') %>")');
  $('#error-modal').modal('toggle');
<% end %>
