    <%= render 'shared/flash_messages' %>

    <div class="col-md-8 col-md-offset-2">
      <div class="reg-accordians">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <%= nested_form_for(@user, url: register_user_path, :remote=>true,  format: :js) do |f| %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-lock"> </i> <%= t('mydetail.account_info') %>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="col-md-6 col-sm-6">
                  <label for=""><%= t('mydetail.account_type') %><span class="red">*</span></label>
                  <%= f.select 'account_type', options_for_select(options_for_account_type.collect{|s| [s[I18n.locale], s[:en]]}, @user.account_type), {prompt: t('register.form.select')}, class: 'form-control', required: true %>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="user_name"><%= t('register.form.user_name') %><span class="red">*</span></label>
                    <%= f.text_field :user_name, id: "user_name", class: 'form-control', placeholder: t('register.form.user_name'), required: true, maxlength: 255 %>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1"><%= t('register.form.email') %><span class="red">*</span></label>
                    <%= f.text_field :email, autofocus: true, id: "exampleInputEmail1", :class => 'form-control', placeholder: t('register.form.email'), required: true %>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1"><%= t('register.form.password') %><span class="red">*</span></label>
                    <%= f.password_field :password, autocomplete: "off", :class => 'form-control', placeholder: t('register.form.password'), required: true %>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1"><%= t('register.form.confirm_password') %><span class="red">*</span></label>
                    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', placeholder: t('register.form.confirm_password'), required: true %>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-danger" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><%= t('register.form.continue') %></button>
                </div>

              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title" class="collapsed panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 <i class="fa fa-user"> </i> <%= t('mydetail.personal_info') %>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <div class="personal-info">

                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.first_name') %><span class="red">*</span></label>
                      <%= f.text_field :first_name, id: "exampleInputEmail0", :class => 'form-control', placeholder: t('register.form.first_name'), required: true %>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.last_name') %><span class="red">*</span></label>
                      <%= f.text_field :last_name, id: "exampleInputEmail0", :class => 'form-control', placeholder: t('register.form.last_name'), required: true %>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6" id="gender_div">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.gender') %><span class="red">*</span></label>
                      <%= f.select 'gender', options_for_select(options_for_gender.collect{|s| [s[I18n.locale], s[:en]]}, @user.gender), {prompt: t('register.form.select')}, id: "gender_field", class: 'form-control', required: true %>
                      <%#= f.select(:gender, options_for_gender, :prompt => 'Select', {}, class: 'form-control') %>

                      <%#= select('user', 'gender', options_for_gender, {include_blank: 'Select'}, {class: 'form-control'}) %>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.dob') %></label>
                      <%= f.text_field :date_of_birth, value: render_date(@user.date_of_birth), class: 'form-control datepicker', placeholder: t('register.form.dob') %>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6" id="mobile_number_div">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.mobile_number') %><span class="red">*</span></label>
                      <%= f.intl_tel_input(:mobile_number, {preferredCountries: ['sa', 'pk']}, {id: 'mobile_number_field', :class => 'tel form-control', required: true }) %>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.city') %><span class="red">*</span></label>
                      <%= f.select 'city', options_for_select(options_for_city.collect{|s| [s[I18n.locale], s[:en]]}, @user.city), {prompt: t('register.form.select')}, class: 'form-control', required: true %>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6" id="education_level_div">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.education_level') %><span class="red">*</span></label>
                      <%= f.select 'education_level', options_for_select(options_for_education_level.collect{|s| [s[I18n.locale], s[:en]]}, @user.education_level), {prompt: t('register.form.select')}, id: "education_level_field", class: 'form-control', required: true %>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6" id="institution_div">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.institution') %><span class="red">*</span></label>
                      <%= f.select 'institution', options_for_select(options_for_institution.collect{|s| [s[I18n.locale], s[:en]]}, @user.institution), {prompt: t('register.form.select')}, id: "institution_field", class: 'form-control', required: true %>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6 hidden" id="other_institution_div">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.institution_name') %>Please provide institution name<span class="red">*</span></label>
                      <%= f.text_field :other_institute, id: "other_institution_field", :class => 'form-control', placeholder: t('register.form.institution_name'), required: true, disabled: true %>
                    </div>
                  </div>

                  <span id="degree_div">
                    <div id="degrees">
                      <%= f.fields_for :degrees, :wrapper => false do |degree_form| %>
                        <div class='fields'>
                          <div class="col-md-6 col-sm-6" id="degree_name_div">
                            <div class="form-group">
                              <label for="exampleInputEmail1"><%= t('register.form.degree_name') %><span class="red">*</span></label>
                              <%= degree_form.select :name, options_for_select(options_for_education_level.collect{|s| [s[I18n.locale], s[:en]]}, degree_form.object.name), {prompt: t('register.form.select')}, class: 'form-control' %>
                            </div>
                          </div>

                          <div class="col-md-6 col-sm-6" id="degree_name_div">
                            <div class="form-group">
                              <label for="exampleInputEmail1"><%= t('register.form.institution_2') %><span class="red">*</span></label>
                              <%= degree_form.select :institution, options_for_select(options_for_institution.collect{|s| [s[I18n.locale], s[:en]]}, degree_form.object.institution), {prompt: t('register.form.select')}, class: 'form-control' %>
                            </div>
                            <label for="file">Upload Degree</label>
                            <%= degree_form.file_field :avatar %>
                          </div>

                          <td><%= degree_form.link_to_remove t('register.form.remove_degree'), class: "btn btn-danger" %></td>
                        </div>
                      <% end %>
                    </div>
                    <div><%= f.link_to_add t('register.form.add_degree'), :degrees, class: "btn btn-primary" %></div>
                  </span>

                  <div class="col-md-6 col-sm-6" id="major_div">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.major') %><span class="red">*</span></label>
                      <%= f.select 'major', options_for_select(options_for_major.collect{|s| [s[I18n.locale], s[:en]]}, @user.major), {prompt: t('register.form.select')}, id: "major_field", class: 'form-control', required: true %>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6 hidden" id="other_major_div">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.other_major') %><span class="red">*</span></label>
                      <%= f.text_field :other_major, id: "other_major_field", :class => 'form-control', placeholder: t('register.form.major'), required: true, disabled: true %>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6" id="availablity_start_time_div">
                    <label for=""><%= t('register.form.availability_start_time') %><span class="red">*</span></label>
                    <div class="form-group">
                      <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                        <%= f.select 'availablity_start_time', options_for_select(options_for_time, @user.availablity_start_time), {prompt: t('register.form.select')}, id: "availablity_start_time_field", class: 'form-control', required: true %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6" id="availablity_end_time_div">
                    <label for=""><%= t('register.form.availability_end_time') %><span class="red">*</span></label>
                    <div class="form-group">
                      <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                        <%= f.select 'availablity_end_time', options_for_select(options_for_time, @user.availablity_end_time), {prompt: t('register.form.select')}, id: "availablity_end_time_field", class: 'form-control', required: true %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6 hidden" id="hourly_rate_div">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.hourly_rate') %><span class="red">*</span></label>
                      <%= f.number_field :hourly_rate, id: "hourly_rate_field", :class => 'form-control', placeholder: t('register.form.hourly_rate'), required: true, disabled: true %>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6 hidden" id="job_div">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.job') %><span class="red">*</span></label>
                       <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                        <%= f.select :job, options_for_select(options_for_job.collect{|s| [s[I18n.locale], s[:en]]}, @user.job), {prompt: t('register.form.select')}, id: "job_field", class: 'form-control', required: true, disabled: true %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6 hidden" id="work_experience_div">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.work_experience') %><span class="red">*</span></label>
                      <%= f.number_field :work_experience, id: "work_experience_field", :class => 'form-control', placeholder: t('register.form.work_experience'), required: true, disabled: true %>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6 hidden" id="nationality_div">
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('register.form.nationality') %></label>
                      <%= f.select 'nationality', options_for_select(options_for_nationality.collect{|s| [s[I18n.locale], s[:en]]}, @user.nationality), {prompt: t('register.form.select')}, id: "nationality_field", class: 'form-control', disabled: true %>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6 hidden" id="teaching_interests_div">
                    <label for=""><%= t('register.form.teaching_interests') %><span class="red">*</span></label>
                    <div class="form-group">
                      <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                        <%= f.select 'teaching_interests', options_for_select(options_for_teaching_interests.collect{|s| [s[I18n.locale], s[:en]]}, @user.teaching_interests), {}, id: "teaching_interests_field", class: 'form-control multiple-selected', multiple: true, required: true %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6 hidden" id="languages_div">
                    <label for=""><%= t('register.form.languages') %><span class="red">*</span></label>
                    <div class="form-group">
                      <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                        <%= f.select 'languages', options_for_select(options_for_languages.collect{|s| [s[I18n.locale], s[:en]]}, @user.languages), {}, id: "languages_field", class: 'form-control multiple-selected', multiple: true, required: true %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6 hidden" id="teaching_modules_div">
                    <label for=""><%= t('register.form.teaching_modules') %><span class="red">*</span></label>
                    <div class="form-group">
                      <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                        <%= f.select 'teaching_modules', options_for_select(options_for_teaching_modules.collect{|s| [s[I18n.locale], s[:en]]}, @user.teaching_modules), {}, id: "teaching_modules_field", class: 'form-control multiple-selected', required: true, multiple: true %>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-6 hidden" id="hobbies_div">
                    <label for=""><%= t('register.form.hobbies') %><span class="red">*</span></label>
                    <div class="form-group">
                      <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;padding-right:5px">
                        <%= f.select 'hobbies', options_for_select(options_for_hobbies.collect{|s| [s[I18n.locale], s[:en]]}, @user.hobbies), {}, id: "hobbies_field", class: 'form-control multiple-selected', required: true, multiple: true %>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-12 col-sm-12" id="interested_in_online_lessons_div">
                    <div class="form-group">
                      <div style="padding-left:0px;padding-right:5px" class="checkbox-text">
                        <%= f.check_box :interested_in_online_lessons, required: true %> <%= t('register.form.interested_in_online_lessons') %><span class="red">*</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 col-sm-12 hidden" id="interested_in_online_teachings_div">
                    <div class="form-group">
                      <div style="padding-left:0px;padding-right:5px" class="checkbox-text">
                        <%= f.check_box :interested_in_online_teachings, required: true %> <%= t('register.form.interested_in_online_teachings') %><span class="red">*</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="checkbox terms-and-condition">
                      <label>
                        <input type="checkbox">
                        <%= f.check_box :status, required: true %> <%= t('register.form.agree') %> <a href="#"><%= t('register.form.terms') %></a>
                      </label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <%= f.submit t('register.form.register'), {class: "btn btn-danger"} %>
                  </div>
                </div>
                <!-- personal info -->
              </div>
              <!-- panel body -->
            </div>
          </div>
          <!-- panel body -->

      <% end %>

        </div>
      </div>
      <!-- registration accordian -->
    </div>
    <!-- col md 6  -->
<div id="sms-verification-div"></div>
<div id="sms-verification-response-div"></div>

<div id="tutor-verification-div"></div>
<div id="tutor-verification-response-div"></div>

<div id="error-div"></div>
<div id="error-response-div"></div>

<% content_for :js_init do %>
  Registration.init();
<% end %>
