<section class="agency-status" style="padding:50px 0">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="row">
          <div class="col-md-12">
            <h2 class="redcolor"><%= t('search.title') %></h2>
            <% if @users.present? %>
              <p><%= t('search.non_logged_in.you_must') %> <span class="blue"><%= t('search.non_logged_in.signup') %></span> <%= t('search.non_logged_in.contact_member') %> </p>
            <% else %>
              <p><%= t('search.no_result') %></p>
            <% end %>
          </div>
        </div>

        <div class="search_circle"></div>
        <div class="row">

          <% @users.each do |user| %>
            <div class="col-sm-6 searchresult text-center">
              <%= image_tag fetch_photo(user, :profile), class: 'img-circle name-profile' %>
              <p class="text-center"><%= user.first_name %> <%= user.last_name %> <%= t('search.miles_away') %>         |    <span class="glyphicon glyphicon-map-marker"> </span> <%= user.city %>        </p>
              <p class="text-center"><%= t('search.fully_committed') %> </p>
              <p class="extra-margin">
              <%= link_to t('search.profile'), user_path(user), class: "btn btn-danger" %>
              <button type="button" data-username="<%= user.jid %>"  class="btn btn-warning start-conversation" data-sid="<%= current_user.id %>" data-rip="<%=user.id %>"><span class="glyphicon glyphicon-comment"></span> <%= t('search.chat') %></button>

              <% if current_user.follows?(user) %>
                <%= link_to "#{ t('search.unfollow') }", user_unfollow_path(user, id: user.id, format: :js), class: "btn btn-default", remote: true %>
              <% else %>
                <%= link_to "#{ t('search.follow') }", user_follow_path(user, id: user.id, format: :js), class: "btn btn-info", remote: true %>
              <% end %>

              <% if user.tutor? %>
                <button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-usd"></span> <%= user.hourly_rate %>/h </button>
              <% end %>
              </p>
            </div>
          <% end %>
        </div>
        <%= paginate @users %>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="right-side">
          <div class="search-form">
            <ul class="nav nav-tabs search-nav-tab" role="tablist">
              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span> <%= t('search.search') %></a></li>
            </ul>

            <div class="tab-content searchform">
              <div role="tabpanel" class="tab-pane active" id="home">
                <div class="myonline-lessons-contents">

                  <%= search_form_for @q, url: search_path do |f| %>
                    <div class="form-group" id="q_first_name_cont_div">
                      <%= f.label t('search.form.labels.first_name') %>
                      <%= f.search_field :first_name_cont, class: "form-control form-bg", placeholder: "#{ t('search.form.placeholders.first_name') }" %>
                    </div>

                    <div class="form-group" id="q_last_name_cont_div">
                      <%= f.label t('search.form.labels.last_name') %>
                      <%= f.search_field :last_name_cont, class: "form-control form-bg", placeholder: "#{ t('search.form.placeholders.last_name') }" %>
                    </div>

                    <div class="form-group" id="q_gender_eq_div">
                      <%= f.label t('search.form.labels.gender') %>
                      <%= select_tag 'q[gender_in][]', options_for_select(options_for_gender.collect{|s| [s[I18n.locale], s[:en]]}, preselect_gender_value), class: 'form-control form-bg multiple-selected', multiple: 'multiple', data: { placeholder: "#{ t('search.form.placeholders.gender') }", select_all: "#{ t('home.select_all') }", select_all: "#{ t('home.select_all') }" } %>
                    </div>

                    <div class="form-group">
                      <%= f.label t('search.form.labels.account') %>
                      <%= select_tag 'q[account_type_eq]', options_for_select(options_for_account_type.collect{|s| [s[I18n.locale], s[:en]]}, preselect_account_value), prompt: "#{ t('search.form.placeholders.account') }", class: 'form-control form-bg' %>
                    </div>

                      <div class="form-group" id="q_hobbies_cont_div">
                        <%= f.label t('search.form.labels.hobby') %>
                        <%= select_tag 'q[hobbies_cont_any][]', options_for_select(options_for_hobbies.collect{|s| [s[I18n.locale], s[:en]]}, preselect_hobbies_value), class: 'form-control form-bg multiple-selected', multiple: "multiple" %>
                      </div>

                      <div class="form-group" id="q_job_cont_div">
                        <%= f.label t('search.form.labels.job') %>
                        <%= f.search_field :job_cont, class: "form-control form-bg", placeholder: "#{ t('search.form.placeholders.job') }" %>
                      </div>

                      <div class="form-group" id="q_education_level_eq_div">
                        <%= f.label t('search.form.labels.education_level') %>
                        <%= select_tag 'q[education_level_in][]', options_for_select(options_for_education_level.collect{|s| [s[I18n.locale], s[:en]]}, preselect_education_level_value), class: 'form-control form-bg multiple-selected', multiple: 'multiple', data: { placeholder: "#{ t('search.form.placeholders.education_level') }", select_all: "#{ t('home.select_all') }" } %>
                      </div>


                      <div class="form-group" id="q_teaching_modules_cont_div">
                        <%= f.label t('search.form.labels.teaching_module') %>
                        <%= f.search_field :teaching_modules_cont, class: "form-control form-bg", placeholder: "#{ t('search.form.placeholders.teaching_module') }" %>
                      </div>

                      <div class="form-group" id="q_major_cont_div">
                        <%= f.label t('search.form.labels.major') %>
                        <%= f.search_field :major_cont, class: "form-control form-bg", placeholder: "#{ t('search.form.placeholders.major') }" %>
                      </div>

                    <div class="form-group" id="q_city_eq_div">
                      <%= f.label t('search.form.labels.city') %>
                      <%= select_tag 'q[city_in][]', options_for_select(options_for_city.collect{|s| [s[I18n.locale], s[:en]]}, preselect_city_value), class: 'form-control form-bg multiple-selected', multiple: 'multiple', data: { placeholder: "#{ t('search.form.placeholders.city') }", select_all: "#{ t('home.select_all') }" } %>
                    </div>

                    <p class="text-center">
                      <%= f.submit "#{ t('search.search') }", class: 'btn btn-danger search-btn text-center' %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id='follow-unfollow-div'></div>

<% content_for :js_init do %>
  Search.bind_multiselect();
  Search.init();
<% end %>
