<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

      <%= render 'shared/navigation-bar' %>

      <div class="col-md-8 col-sm-8">
        <% if @users.present? %>
          <div class="foundme">
            <p><%= t('suggested_teachers.title') %></p>

            <table class="table table-bordered">
              <tbody>
                <tr style="background: #666666;color: #fff;text-transform: uppercase;">
                  <td colspan="3">TUTOR</td>
                </tr>

                <% @users.each do |user| %>
                  <tr>
                    <td><span class="glyphicon glyphicon-user"></span> <%= user.first_name %> (<%= formatted_name_title(user.gender) %>)</td>
                    <td>
                      <%= link_to 'Profile', user_path(user), class: 'btn btn-danger teacher-btn' %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          <p><%= t('suggested_teachers.no_suggestion') %></p>
        <% end %>
      </div>
    </div>
  </div>
</section>
