<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

    <%= render 'shared/navigation-bar' %>

      <div class="col-md-6 col-sm-8">
        <div class="summary-contents">
          <div class="member-area-content-bg">
            <p><%= t('summary.you_have') %> <strong><%= t('user_roles.' + current_user.account_type.downcase) %> </strong><%= t('summary.last_login') %> <%= render_date(current_user.last_sign_in_at)%> <%= t('summary.profile_url') %> <%= link_to "http://www.geekrabb.com/users/#{current_user.id}", user_path(current_user) %>
            </p>
          </div>

          <table class="table table-bordered">
            <tr style="background: #666666;color: #fff;text-transform: uppercase;">
              <td colspan="2"><%= t('summary.profile_views') %></td>
            </tr>
            <tr>
              <td>0</td>
              <td><%= t('summary.all_time') %> (0 <%= t('summary.guests') %>, 0 <%= t('summary.members') %>)</td>
            </tr>
            <tr>
              <td>0</td>
              <td><%= t('summary.last_7_days') %></td>
            </tr>
            <tr>
              <td>0</td>
              <td><%= t('summary.this_month') %></td>
            </tr>
          </table>

          <p><i class="fa fa-angle-right"></i> <a href="#"> <%= t('summary.need_help') %></a></p>
        </div>
      </div>
    </div>
  </div>
</section>
