<section class="member" style="padding:50px 0">
  <div class="container">
    <div class="row">

      <%= render 'shared/navigation-bar' %>

      <div class="col-md-8 col-sm-8">
        <div class="profile-photo">
          <p>Here are all your tagged Tutor Hunt users. These are your users you are interested in, so you can easily remember them at a later date for contact. This list is private to you and will not show in your profile.</p>
          <p class="redcolor">No users are tagged</p>
        </div>
      </div>
    </div>
  </div>
</section>
