<% if @verified %>
  $('#sms-verification-modal').modal('toggle');
  $('#sms-verification-response-div').html('$("<%= j render(:partial => 'verification_response') %>")');
  $('#sms-verification-response-modal').modal('toggle');
  setTimeout(function(){
    window.location.href = "/";
  }, 2500)
<% else %>
  $('#sms-verification-modal').modal('toggle');
  $('#sms-verification-div').html('$("<%= j render(:partial => 'sms_verification') %>")');
  $('#sms-verification-modal').modal('toggle');
<% end %>
