<div class="sign-in-response">
  <%= render 'shared/flash_messages' %>
</div>

<div class="clearfix"></div>

<section class="agency-status" style="padding:50px 0">
  <div class="container">
    <div class="row">
      <div class="agency-status-contents clearfix">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel heading-bg">
            <div class="panel-heading">
              <h3 class="panel-title" style="color:#000;"><%= t('signin.title') %></h3>
            </div>
            <div class="panel-body">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label"><%= t('signin.form.email') %></label>
                  <div class="col-sm-10">
                    <%= f.email_field :email, autofocus: true, class: "form-control", id: "inputEmail3", placeholder: t('signin.form.email') %>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label"><%= t('signin.form.password') %></label>
                  <div class="col-sm-10">
                    <%= f.password_field :password, autocomplete: "off", class: "form-control", id: "inputPassword3", placeholder: t('signin.form.password') %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <%= f.check_box :remember_me %> <%= t('signin.remember_me') %>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-2 sign-in-btn">
                    <%= f.submit t('signin.signin'), class: "btn btn-danger" %>
                  </div>
                  <div class="col-sm-8">
                    <div class="forget-username"><%= link_to t('signin.forget_password'), new_user_password_path, class: "btn btn-primary whiteColor" %></div>
                  </div>
                </div>
              <% end %>
              <p class="signup-text"><%= t('signin.new_user') %><a href="/register" style="margin-bottom:0px;"><%= t('signin.signup_here') %> </a> <%= t('signin.service') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
