
@media only screen and (min-width: 960px) and (max-width: 1040px) { 

.hidden-large {
	display: none;
}
}


@media only screen and (min-width: 768px) and (max-width: 959px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 

// 	.hidden-large {
// 	display: none;
// }	


}




@media only screen and (max-width:768px) { 
	
.hide-mini {
	display:none;
	}
.show-mini {
	display:block;
	width:98%;
	margin:15px auto;
	padding:10px 0;
	font-size:14px;
	color:#003f74;
	}
.menuitems {
	margin:0px 0 0 0 !important;
	}	
.banner-sec {
	padding:50px 0;
}		
.banner-sec h1 {
	font-size: 20px;
}
.banner-sec h2 {
	font-size:18px;
}
#pentagon {
	margin-bottom: 10px;
	height:80px;
}
#pentagon h4 {
	font-size: 17px;
}
#pentagon:after {
	border:0px;
	position: static;
	display: none;
}
.account-reg #pentagon {
	margin-bottom:10px;
}
.popular-subjects .subject .lang img {
	height: 65px;
}
.subject-fontsize {
	font-size: 12px;
}

			
	} /*  port tablet */
	
	
	
	
 @media only screen and (min-width: 320px) and (max-width: 480px) { 
	.hide-iphone {
		display:none;
		}
	.show-iphone {
		display:block;
		width:98%;
		margin:15px auto;
		padding:10px 0;
		font-size:14px;
		color:#003f74;
		}
	.menuitems {
		margin:0px 0 0 0 !important;
		}	
	#pentagon {
		margin-bottom: 10px;
		height:80px;
	}
	#pentagon h4 {
		font-size: 17px;
	}
	#pentagon:after {
		border:0px;
		position: static;
		display: none;
	}
	.btn-choos {
		width: 100% !important;
		margin:10 auto !important;
	}
	.account-reg #pentagon {
		margin-bottom:10px;
	}
	.popular-subjects .subject .out-box img {
		height: 65px;
	}
	.popular-subjects .out-box {
	    width: 125px;
	    height: 125px;
	    color: #fff;
	    font-size: 14px;
	    padding-top: 20px;
	}
	.popular-subjects .out-box .inner-box {
		width: 125px;
	    height: 125px;
	}
	.acadmic, .lang, .music, .health, .art, .it {
    width: 125px !important;
    height: 125px !important;
    padding-top: 20px !important;
	}
	.acadmic img, .lang img, .music img, .health img, .art img, .it img {
		height: 60px;
	}
	.popular-subjects .subject .inner-box {
		width: 125px !important;
    height: 125px !important;
	}
	.subject-fontsize {
		font-size: 10px;
	}
	.header-top .social-icons li a {
	  width: 25px;
	  font-size: 15px;
	  padding: 9px 0px 6px 0px;
	}
	.header-top address {
		font-size: 13px;
	}
	.header-2 .header-nav ul > li {
		font-size: 13px;
	}
	.header-2 .header-nav ul > li a {
		padding: 7px;
	}
	.logo img {
		width: 105px;
		padding-top: 3px
	}
	.navbar {
		margin-bottom: 0px;
	}
	.search-sec {
		padding-top: 3px;
		padding-bottom: 20px;
	}
	.search-sec input {
		max-width: inherit;
	}
	.services-tab img {
		width: 110px;
		margin: 0 auto;
	}
	.item-click-prev {
		padding-left: 15px;
	}
	.footer-two .new-letter-sec h2 {
		font-size: 16px;
	}
	.copy-right p {
		font-size: 13px;
	}
	ul.for-student li h3 {
	  font-size: 14px;
	  color: #f85862;
	  padding: 7px 5px;
	  margin: 0px;
	}
	ul.for-student li a {
		padding-left: 25px;
	}
	ul.for-student li:first-child a {
		padding-left: 10px;
	}
	#navbar a.nav-menu {
		font-size: 15px;
	}
	#search-heading {
		font-size: 16px;
		margin-bottom: 0px;
		margin-top: 7px;
	}
	.sign-in-response {
		width: 100%;
		margin-left: 0px;
	}
	.error-div {
		margin-left: 0px !important;
		width: 100% !important;
		li {
			font-size: 14px;
		}
	}
	.agency-status {
		h3.panel-title {
			font-size: 14px;
		}
		.form-group {
			label {
				font-size: 14px;
			}
		}
		.sign-in-btn {
			padding-bottom: 10px;
		}
		.signup-text {
			font-size: 14px;
		}
	}
	.new_user {
		.panel-body {
			label {
				font-size: 13px;
			}
		}
		h4.panel-title {
			font-size: 15px;
		}
		.checkbox-text {
			font-size: 13px;
		}
	}
	.forgot-password {
		h2 {
			font-size: 23px;
		}
		input {
			max-width: 100%;
		}
	}
}



