﻿/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.error-div {
  margin: 18px 0 -30px 0;
  width: 62.5% !important;
  margin-left: 270px !important;
}

.hidden {
  display: none;
}

.payment-response-info {
  margin-top: 20px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.sign-in-response {
  width: 1930px;
  margin-left: -150px;
}
.whiteColor {
  color: white !important;
}
#bs-example-navbar-collapse-1 {
  padding-right: 0px;
  padding-left: 60px;
}
