﻿@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
	outline:none;
	list-style:none;
	
	}
input[type=submit] {
	cursor: pointer;
}
input[type=submit], a {
	-webkit-transition: all .7s linear;
	-moz-transition: all .7s linear;
	-ms-transition: all .7s linear;
	-o-transition: all .7s linear;
	transition: all .7s linear;
}

a img {
	border:none;
	vertical-align:bottom;
	}	
.clear {
	clear:both;
	}	
a {
	text-decoration:none;
	text-decoration: none !important;
	color:#40403a;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-ms-transition:all 1s;
	-o-transition:all 1s;
	}	
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
	 
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.responsive-img {
	width: 100%;
}

div,ul,li,form, .row {
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:0;
	padding-top:0;
	}	
.hide-desktop {
	display:none;
	}		

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1200px) {
  .carousel-inner {height: 100% !important; }
}

	@media (max-width: 767px) {
		.dropdown-menu.multi-column {
			min-width: 240px !important;
			overflow-x: hidden;

		}
		.menuitems {
			margin:0px;
		}
    .carousel-inner {height: 100% !important; }
	}
	
	@media (max-width: 480px) {
		.content {
			width: 90%;
			margin: 50px auto;
			padding: 10px;
		}
		
	}


	.dropdown-menu {
		min-width: 200px;
	}
	.dropdown-menu.columns-2 {
		min-width: 400px;
	}
	.dropdown-menu.columns-3 {
		min-width: 600px;
	}
	.dropdown-menu li a {
		padding: 5px 7px;
		font-weight: 300;
	}

	.multi-column-dropdown {
		list-style: none;
	}
	.multi-column-dropdown li a {
		display: block;
		clear: both;
		line-height: 1.428571429;
		color: #333;
		white-space: normal;
		padding: 2px 0px 1px 5px;
	}
	.multi-column-dropdown li a:hover {
		text-decoration: none;
		color: #f85862;
		padding-left: 15px;
		background: none;
		
	}
	.multi-column-dropdown li:first-child a {
		padding:0px 0;
		
	}
	.menu-heading>li>a:hover {
	background: none;
	padding:5px 10px;
	color: #f85862;
	}
.search-form .tab-content {
  padding: 20px 10px;
  border: 1px solid #d2d2d2;
  border-radius: 0px;
  background-color:#f9f9f9;
}
.search-nav-tab{border-bottom: none; }
.searchresult{border-right:1px solid #eee; border-bottom:1px solid #eee;}
.searchresult:nth-child(2), .searchresult:nth-child(4){border-right:1px solid transparent;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  padding: 10px 30px;
}
select {
  padding:3px;
  margin: 0;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  background: #fdfdfd;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  width:100%;
}
label {
  position: relative;
  width: 100%;
}
.form-bg{ background-color:#fafafa; height:40px; color:#959595; font-weight:normal;}
.glyphicon-map-marker{color:#f2806f;}
.search-btn{margin:30px 0 !important; text-align:center; padding:10px 30px;}
.name-profile{width:35%; margin-top:35px; margin-bottom:20px;}
.extra-margin{padding-top:25px; padding-bottom:30px;}
.btn-warning {
  color: #636363;
  background-color: #f0f0f0;
  border-color: #cdcdcd;
}
.btn {margin:0px 0px;}
.search_circle{background-color:#eee; height:15px; width:15px; position:absolute; left:49%; top:56%; border-radius:50%; z-index:9999;}
.send-message-btn{padding:10px 60px;}   
.black-btn{background-color:#464648; padding:10px 35px;}
.my-follers-mt{margin-top: 30px;}   
.glyphicon-ok{
  color: #f2806f;
}
.border-right-tutor{border-right:1px solid #dadada;}
.tutor_img {
  width: 88%;
  margin-top: 35px;
  margin-bottom: 20px;
}
.tutor-img{padding-top:30px;}
.profile-tutor-mb{margin-bottom:50px;}
.profile-name-center{text-align:center;}
.profile-tutor-mb {
  margin-bottom: 0px !important;
}
.modal.fade.in.contact-info {
  position: fixed;
  top: 20% !important;
}
.mydetail-flash-message {
  margin-left: 11% !important;
  width: 86% !important;
}
.profile-name-center{text-align:center;}
.profile-tutor-mb {
  margin-bottom: 0px !important;
}
.tab-home{padding-right:0px; padding-left:0px;}
.gry-bg{background:#f4f4f4;} 
.search-btn-mt{margin-top:20px;}

.item-show-prev{
  display:none;
}
.item-click-prev{
  cursor:pointer;
  padding-left: 60px;
}
.white-text{color:#fff;}

.dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}
.darker-boarder {
  border: 2px solid #ccc !important;
}
#PT_express_checkout_wrap {
  height: 450px !important;
}
#paypal-button-container {
  width: 200px;
}
.starbox.small .stars .star_holder .star {
  background-image: url('https://github.com/sabberworm/jStarbox/raw/master/images/6-small.png');
  width: 17px;
  height: 17px;
}
.starbox.alternate .stars .star_holder .star {
  background-image: url('https://github.com/sabberworm/jStarbox/raw/master/images/ribbon.png');
  width: 29px;
  height: 28px;
}
.starbox.colours .stars { background: #f9c412; }
.starbox.colours .hover .stars { background: #BD940F; }
.starbox.colours .rated .stars { background: #dcdcdc; }
.starbox.colours .rated.hover .stars { background: #cccccc; }
.starbox.colours .colorbar { background: #a56a1c; }
.starbox.colours .hover .colorbar { background: #f4341f; }
.starbox.colours .rated .colorbar { background: #c29a65; }
.starbox.colours .rated.hover .colorbar { background: #9f0e00; }
.starbox.colours .ghost { background: #e2b6b2; }
.starbox.gradient .stars .colorbar { background-image: url('gradient.png') !important; background-repeat: repeat-x; }
.starbox .colorbar, .starbox .ghost { top: -4px; }
.block { float: left;width: 300px; }
#comment{ max-width: 520px; }
.carousel-inner {height: 400px; }

.datepicker-dropdown.dropdown-menu {
  max-height: 250px;
}

.multi-select-style {
  width: 100%;
  max-width: 280px;
}

.multi-select-style .dropdown-menu {
  max-height: 180px;
}

.pt-100 {
  padding-top: 100px;
}

a.resend-code-btn {
  margin-bottom: 0px;
  color: white;
}

a.resend-code-btn:hover {
  color: white;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .search_circle{left:48.6%; top:55.5%;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .search_circle{left:48.6%; top:56.5%;}
}
