body {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: #676565;
}

header {
  box-shadow: 0px 1px 4px #d2d2d2;
  border-bottom: #d2d2d2;
}

.header-top {
  box-shadow: 0 1px 4px #d2d2d2;
}

.header-top address {
  margin: 10px 0 0 0;
}

.header-top .social-icons {
  float: right;
}

.header-top .social-icons li {
  float: left;
}

.header-top .social-icons li a {
  display: block;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 19px;
  padding: 6px 0;
}

.header-top .social-icons li a:hover {
  background: #f85862;
  color: #fff;
}

.header-2 {
  margin-top: 2px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,eeeeee+100 */
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #eeeeee 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fefefe 0%, #eeeeee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fefefe 0%, #eeeeee 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eeeeee',GradientType=0 );
  /* IE6-9 */
}

.header-2 .header-nav ul > li {
  float: left;
  border-right: 1px solid #fefefe;
  border-left: 1px solid #e1e1e1;
}

.header-2 .header-nav ul > li a {
  display: block;
  padding: 12px;
}

.header-2 .header-nav ul > li a:hover {
  background: #eaeaea;
}

.header-2 .header-nav ul > li:first-child {
  border-left: none;
}

.header-2 .header-nav ul > li:last-child {
  border-right: none;
}

.header-2 .header-nav ul > li > ul > li {
  display: block;
  border: none;
  float: none;
}

.header-2 .search-sec {
  margin-top: 5px;
}

.logo-section {
  padding: 10px 0;
}

.logo-section .logo {
  position: relative;
}

.logo-section .logo img {
  width: 60%;
}

.logo-section .logo h1 {
  position: absolute;
  width: 100px;
  z-index: -20;
  right: 5008548584px;
}

.logo-section .menuitems {
  margin: 10px 0 0 0;
}

.logo-section .menuitems .navbar-default {
  border: none;
  background: transparent;
  margin-bottom: 0px;
}

.logo-section .menuitems .navbar-default ul li a {
  padding-right: 10px;
  padding-left: 10px;
}

.logo-section .menuitems .navbar-default .dropdown-menu li h3 {
  font-size: 14px;
  color: #f85862;
  padding: 7px 5px;
  margin: 0px;
}

.logo-section .menuitems .navbar-default .active {
  background: #f85862;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background: #f85862;
  color: #fff;
  box-shadow: 0 0 1px 1px #ddd;
}

.item img {
  width: 100%;
}

.banner-sec {
  background-image:url("/geek-banner.jpg");
  background-size: cover;
  padding: 280px 0;
}

.banner-sec h1 {
  color: #fff;
  font-weight: bold;
  font-size: 2.8em;
}

.banner-sec h2 {
  font-size: 1.7em;
  color: #fff;
}

.search-section {
  margin-top: 23px;
  margin-bottom:60px;
}

.search-section h2 {
  font-size: 20px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.search-section .form-control {
  margin-bottom: 5px;
}

.popular-subjects .subjects-heading {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #000;
}

.popular-subjects .subjects-heading strong {
  font-weight: bold;
  color: #ec7d6c;
}

.popular-subjects .subject .acadmic {
  width: 170px;
  height: 170px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
  position: relative;
  float: left;
  box-shadow: 0px 0px 1px 1px #bababa;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  text-transform: uppercase;
  background: #ffbf43;
}

.popular-subjects .subject .acadmic h3 {
  font-size: 16px;
  margin-top: 15px;
}

.popular-subjects .subject .acadmic a {
  display: block;
  color: #fff;
}

.popular-subjects .subject .acadmic img {
  height: 80px;
}

.popular-subjects .subject .acadmic .inner-box {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -10;
  width: 170px;
  height: 170px;
  border: 3px solid;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.popular-subjects .subject .acadmic:hover {
  background: #000;
}

.popular-subjects .subject .acadmic:hover .inner-box {
  border-color: #000;
}

.popular-subjects .subject .acadmic .inner-box {
  border-color: #ffbf43;
}

.popular-subjects .subject .lang {
  width: 170px;
  height: 170px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
  position: relative;
  float: left;
  box-shadow: 0px 0px 1px 1px #bababa;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  text-transform: uppercase;
  background: #f85864;
}

.popular-subjects .subject .lang h3 {
  font-size: 16px;
  margin-top: 15px;
}

.popular-subjects .subject .lang a {
  display: block;
  color: #fff;
}

.popular-subjects .subject .lang img {
  height: 80px;
}

.popular-subjects .subject .lang .inner-box {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -10;
  width: 170px;
  height: 170px;
  border: 3px solid;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.popular-subjects .subject .lang:hover {
  background: #000;
}

.popular-subjects .subject .lang:hover .inner-box {
  border-color: #000;
}

.popular-subjects .subject .lang .inner-box {
  border-color: #f85864;
}

.popular-subjects .subject .music {
  width: 170px;
  height: 170px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
  position: relative;
  float: left;
  box-shadow: 0px 0px 1px 1px #bababa;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  text-transform: uppercase;
  background: #96ca4b;
}

.popular-subjects .subject .music h3 {
  font-size: 16px;
  margin-top: 15px;
}

.popular-subjects .subject .music a {
  display: block;
  color: #fff;
}

.popular-subjects .subject .music img {
  height: 80px;
}

.popular-subjects .subject .music .inner-box {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -10;
  width: 170px;
  height: 170px;
  border: 3px solid;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.popular-subjects .subject .music:hover {
  background: #000;
}

.popular-subjects .subject .music:hover .inner-box {
  border-color: #000;
}

.popular-subjects .subject .music .inner-box {
  border-color: #96ca4b;
}

.popular-subjects .subject .health {
  width: 170px;
  height: 170px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
  position: relative;
  float: left;
  box-shadow: 0px 0px 1px 1px #bababa;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  text-transform: uppercase;
  background: #f1594e;
}

.popular-subjects .subject .health h3 {
  font-size: 16px;
  margin-top: 15px;
}

.popular-subjects .subject .health a {
  display: block;
  color: #fff;
}

.popular-subjects .subject .health img {
  height: 80px;
}

.popular-subjects .subject .health .inner-box {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -10;
  width: 170px;
  height: 170px;
  border: 3px solid;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.popular-subjects .subject .health:hover {
  background: #000;
}

.popular-subjects .subject .health:hover .inner-box {
  border-color: #000;
}

.popular-subjects .subject .health .inner-box {
  border-color: #f1594e;
}

.popular-subjects .subject .art {
  width: 170px;
  height: 170px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
  position: relative;
  float: left;
  box-shadow: 0px 0px 1px 1px #bababa;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  text-transform: uppercase;
  background: #5ce2d7;
}

.popular-subjects .subject .art h3 {
  font-size: 16px;
  margin-top: 15px;
}

.popular-subjects .subject .art a {
  display: block;
  color: #fff;
}

.popular-subjects .subject .art img {
  height: 80px;
}

.popular-subjects .subject .art .inner-box {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -10;
  width: 170px;
  height: 170px;
  border: 3px solid;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.popular-subjects .subject .art:hover {
  background: #000;
}

.popular-subjects .subject .art:hover .inner-box {
  border-color: #000;
}

.popular-subjects .subject .art .inner-box {
  border-color: #5ce2d7;
}

.popular-subjects .subject .it {
  width: 170px;
  height: 170px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
  position: relative;
  float: left;
  box-shadow: 0px 0px 1px 1px #bababa;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  text-transform: uppercase;
  background: #62aee0;
}

.popular-subjects .subject .it h3 {
  font-size: 16px;
  margin-top: 15px;
}

.popular-subjects .subject .it a {
  display: block;
  color: #fff;
}

.popular-subjects .subject .it img {
  height: 80px;
}

.popular-subjects .subject .it .inner-box {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -10;
  width: 170px;
  height: 170px;
  border: 3px solid;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.popular-subjects .subject .it:hover {
  background: #000;
}

.popular-subjects .subject .it:hover .inner-box {
  border-color: #000;
}

.popular-subjects .subject .it .inner-box {
  border-color: #62aee0;
}

.popular-subjects .subject .subject-contents p {
  line-height: 25px;
  font-size: 16px;
  color: #717171;
}

.account-reg {
  border-top: 5px solid #f85862;
  padding-bottom: 25px;
}

.account-reg .reg-account-sec {
  box-shadow: 0px 1px 4px #d2d2d2;
  padding-bottom: 30px;
}

.account-reg .reg-account-sec h4 {
  margin: 0px;
  font-size: 28px;
  color: #fff;
  position: relative;
  padding: 50px 0;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.account-reg .reg-account-sec .ac-reg-field {
  margin: 0 auto 10px auto;
  width: 85%;
  box-shadow: none;
  height: 44px;
  box-shadow: 0px 1px 4px #d2d2d2;
}

.account-reg .reg-account-sec .ac-reg-btn {
  width: 200px;
  margin: 0px auto;
  display: block;
  color: #fff;
  font-size: 16px;
  padding: 10px;
}

.account-reg #pentagon {
  width: 100%;
  height: 130px;
  background: #f85862;
  position: relative;
  margin-bottom: 80px;
}

.account-reg #pentagon:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -40px;
  left: 0;
  border-left: 229px solid transparent;
  border-right: 229px solid transparent;
  border-top: 40px solid #f85862;
}

.account-reg .search-tutor {
  padding: 45px 0;
}

.account-reg .search-tutor h2 {
  font-size: 25px;
  color: #717171;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
}

.account-reg .search-tutor p {
  font-size: 16px;
  line-height: 25px;
}

.account-reg .search-tutor p:last-child {
  margin-bottom: 30px;
  outline: 1px solid blue;
}

.account-reg .search-tutor .btn-choos {
  background: #f85862;
  color: #fff;
  width: 145px;
  opacity: 0.9;
  margin-top: 15px;
  float: left;
  margin-right: 7px;
}

.account-reg .search-tutor .btn-choos:hover {
  opacity: 1;
  box-shadow: 0px 1px 4px #d2d2d2;
}

.explore-location {
  background-image:url("/locationbg.jpg");
  background-size: cover;
  padding: 60px 0;
}

.explore-location h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}

.explore-location h3 {
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: 400px;
  margin-top: 0px;
  margin-bottom: 45px;
}

.explore-location .locations-list li {
  background-image:url("/location-bg.png");
  width: 285px;
  float: left;
  height: 47px;
  margin: 15px 0 15px 7px;
  box-sizing: border-box;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.explore-location .locations-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding: 10px 0px 5px 45px;
  text-transform: uppercase;
}

.explore-location .locations-list li a:hover {
  color: #000;
  margin-left: 10px;
}

.explore-location .vieall-contries {
  border-radius: 20px;
  background: #f85862;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  width: 300px;
  height: 45px;
  margin: 50px auto;
  border: none;
  box-shadow: 0px 1px 4px #d2d2d2;
  display: block;
}

.explore-location .vieall-contries:hover {
  background: #000;
}

.subject-sec {
  box-shadow: 0px 1px 4px #d2d2d2;
  padding: 30px 0;
  background: #f6f7fb;
}

.subject-sec .subject {
  background: #fff;
  padding: 15px;
  box-shadow: 0px 1px 4px #d2d2d2;
}

.subject-sec .subject .subject-img {
  text-align: center;
}

.subject-sec .subject .subject-img img {
  max-width: 100%;
  display: block;
  margin: 0px auto;
  height: 241px;
}

.subject-sec .subject h2 {
  font-weight: 600;
  color: #ec7d6c;
  text-transform: uppercase;
  font-size: 18px;
  text-align: left;
  position: relative;
  padding-left: 0px;
}

.subject-sec .subject h2 .border {
  border: 3px solid #ec7d6c;
  width: 51px;
  height: 3px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: 3px;
}

.subject-sec .subject h3 {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  margin-top: 0px;
}

.subject-sec .subject h3:after {
  content: url("/after-subjects.png");
  position: absolute;
  right: 0px;
  top: 5px;
}

.subject-sec .outer-subjeccts {
  box-shadow: 0px 1px 4px #d2d2d2;
  background: #fff;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.subject-sec .outer-subjeccts .clickhere-subject {
  width: 60%;
  display: block;
  height: 40px;
  color: #fff;
  background: #ec7d6c;
  border-radius: 10px;
  margin: 10px auto;
}

.subject-sec .outer-subjeccts .clickhere-subject:hover {
  background: #000;
}

.subject-sec .outer-subjeccts:hover {
  box-shadow: 0 0 1px 3px #d2d2d2;
}

.footer-one {
  background: #22272b;
  padding: 45px 0;
}

.footer-one .footer-links-sec h3 {
  color: #c8c8c8;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-one .footer-links-sec h3 .border {
  width: 50px;
  display: inline-block;
  background: #ec7d6c;
  height: 5px;
  vertical-align: 3px;
  margin-right: 0px;
}

.footer-one .footer-links-sec .footer-links li a {
  color: #c8c8c8;
  display: inline-block;
  font-size: 14px;
}

.footer-one .footer-links-sec .footer-links li a:before {
  content: "\f0da";
  font-family: FontAwesome;
  color: #c8c8c8;
  margin-right: 5px;
}

.footer-one .footer-links-sec .footer-links li a:hover {
  color: #f85862;
  margin-left: 10px;
}

.footer-one .footer-links-sec .footer-links li a:hover:hover:before {
  color: #f85862;
}

.footer-two {
  background: #131416;
  padding: 30px 0;
  box-shadow: 0px 1px 4px #d2d2d2;
}

.footer-two .new-letter-sec h2 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.footer-two .new-letter-sec h2 strong {
  font-weight: 700;
  color: #f85862;
}

.footer-two .new-letter-sec p {
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.footer-two .new-letter-sec .btn-letter {
  background: #3a3a3a;
  color: #696c6a;
}

.footer-two .new-letter-sec .letterfield {
  background: #3a3a3a !important;
  border: none;
  color: #fff;
}

.footer-two .new-letter-sec .letterfield:focus {
  box-shadow: none;
  border: none;
}

.footer-two .new-letter-sec .footer-medialinks {
  width: 280px;
  margin: 30px auto 10px auto;
  margin-top: 25px;
}

.footer-two .new-letter-sec .footer-medialinks li a {
  width: 48px;
  height: 43px;
  background: #fff;
  margin: 10px 10px;
  padding: 7px;
  float: left;
  border-radius: 3px;
  font-size: 22px;
  color: #000;
  text-align: center;
  display: block;
}

.footer-two .new-letter-sec .footer-medialinks li a:hover {
  background: #f85862;
  color: #fff;
}

.footer-two .new-letter-sec .footer-menu {
  margin-top: 30px;
}

.footer-two .new-letter-sec .footer-menu ul > li {
  float: left;
  margin: 5px 25px;
}

.footer-two .new-letter-sec .footer-menu ul > li a {
  text-transform: uppercase;
  color: #cacaca;
  font-size: 16px;
}

.copy-right {
  padding: 15px 0;
  background: #f85862;
  color: #fff;
  text-align: center;
}

.copy-right p {
  margin: 0px;
  text-transform: uppercase;
}

.reg-accordians {
  padding: 30px;
}

.reg-accordians .panel-heading {
  padding: 0px;
}

.reg-accordians label {
  font-weight: 400;
}

.reg-accordians .panel-title {
  padding: 10px 15px;
}

.reg-accordians .panel-title[aria-expanded="true"] {
  background: #ec7d6c;
  color: #fff;
}

.reg-accordians select {
  margin-bottom: 10px;
}

.reg-accordians select option {
  padding: 0 15px;
}

.reg-accordians .form-group {
  margin-bottom: 10px;
}

.agency-status-contents {
  box-shadow: 0px 1px 4px #d2d2d2;
  padding: 30px 15px;
}

.agency-status-contents h2 {
  color: #f85862;
  font-weight: 400;
}

.agency-status-contents a {
  color: #f85862;
  margin-bottom: 15px;
  display: inline-block;
}

.agency-status-contents a:hover {
  color: #000;
}

.heading-bg .panel-heading {
  background: #f85862;
  color: #000;
}

.addsubject {
  box-shadow: 0px 1px 4px #d2d2d2;
}

.member-list li {
  padding: 9px;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.member-list li a {
  display: block;
}

.member-list li a i.fa {
  font-size: 18px;
  margin-right: 7px;
}

.member-list li a:hover, .member-list li a .activelink, .member-list li a:focus, .member-list li a:active {
  color: #fff;
  display: block;
}

.member-list li:first-child, .member-list li:last-child {
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 20px;
}

.member-list li:hover, .member-list li:focus {
  background: #f85862;
  color: #fff;
}

.member-list li:hover a, .member-list li:focus a {
  color: #fff;
}

.activelink {
  background: #f85862;
  color: #fff;
}

.activelink a {
  color: #fff;
}

.heading2 {
  color: #f85862;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 15px;
}

.member-area-content-bg {
  background: #ddd;
  padding: 15px;
  margin-bottom: 30px;
}

.statitem {
  color: #7aa3e6;
  font-weight: bold;
}

.lesson-contents .tab-content {
  padding: 20px 10px;
  border: 1px solid #d2d2d2;
}

.lesson-contents a {
  text-transform: uppercase;
}

.lesson-contents .nav-tabs > li.active > a, .lesson-contents .nav-tabs > li.active > a:focus, .lesson-contents .nav-tabs > li.active > a:hover {
  background: #f85862;
  color: #fff;
}

.lesson-contents .nav-tabs li a {
  font-size: 14px;
  padding: 8px 10px;
}

.redcolor {
  color: #f85862;
  margin: 15px 0;
}

.greenColor {
  color: #8a7;
}

.heading-panel {
  margin: 15px 0;
}

.heading-panel .panel-heading {
  background: #f85862;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}

.teacher-btn {
  display: block;
  margin: 0 auto;
  padding: 1px 15px;
  font-size: 12px;
}

.foundme .glyphicon-user {
  color: #d2d2d2;
}

.round-bg {
  background: #d2d2d2;
  border-radius: 15px;
  padding: 10px;
  font-size: 13px;
}

.ask-question-list li {
  font-size: 13px;
}

.ask-question-list li:before {
  content: "-";
  margin-right: 5px;
}

.contact-details h6 {
  font-size: 17px;
}

.contact-details address {
  font-size: 14px;
}

.acedmic-q-btn {
  padding: 12px 15px;
  display: block;
  color: #fff;
  box-shadow: 0px 2px 1px 1px #bc1c26;
  border-radius: 5px;
  background: #f85862;
}

.popular-links li a {
  color: #676565;
  text-decoration: underline !important;
}

.popular-links li a:hover {
  color: #ec7d6c;
}

.question-detail ul li {
  padding: 8px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 80%;
  margin-top: 10px;
  float: left;
  margin-right: 15px;
  color: #666;
}

.question-container {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
}

.icon-color {
  color: #f85862;
}

.selected {
  text-align: center;
  border: 1px solid #000;
  background: #f85862;
}

.online-lesson-list {
  padding-left: 20px;
}

.online-lesson-list li {
  list-style: circle;
}

#messages ol {
  list-style-type: lower-roman !important;
  padding-left: 25px;
}

#messages ol li {
  list-style-type: lower-roman !important;
}

.terms-and-condition a {
  color: #ec7d6c;
}

.item-show-prev {
  padding-right: 0px;
  padding-left: 0px;
}

.red {
  color: red;
}

.new_user .add_nested_fields {
  margin-left: 15px;
  margin-bottom: 5px;
}

.new_user .remove_nested_fields {
  margin-left: 15px;
  margin-bottom: 10px;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: #EA8072;
}
