<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Geekrabb</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109669822-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109669822-1');
    </script>


    <%= csrf_meta_tags %>

  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>GeekRabb</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900" rel="stylesheet">

  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= hidden_field_tag :user_id, current_user&.jid %>
    <%= hidden_field_tag :firstname, current_user&.first_name %>
    <%= hidden_field_tag :user_image, image_for_chat(current_user) %>
    <%= hidden_field_tag :chat_url, APP_CONFIG[:openfire][:host] %>
    <%= hidden_field_tag :ip_url, APP_CONFIG[:openfire][:ip] %>
    <audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
  </body>

<!-- open chat window on new message -->
  <% if current_user %>
    <script type="text/javascript">
      channel = <%= raw ('"' + '/notifications' + current_user.id.to_s + '"') %>
      PrivatePub.subscribe(channel, function(data) {

        var sender_id = data.sid;
        var recipient_id = data.rip;
        var conversation_id = data.cid;

        $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id }, function (data) {
          chatBox.chatWith(conversation_id);
        });

      });
    </script>
    <%= subscribe_to "/notifications" + current_user.id.to_s %>
  <% end %>
<!-- chat message open window end -->

  <script type='text/javascript'>
    $(function() {
      <%= yield :js_init %>
    });
  </script>

</html>
